/*
    main
*/
.announce_broadcast_program {
    #main {
        overflow-x: hidden;
        margin-top: 0;
        padding-top: 160px;
        @include pc {
            padding-top: get_pc(160);
        }
        @include sp {
            padding-top: get_sp(100);
        }
    }
    .breadcrumb {
        max-width: 1576px;
        margin: 0 auto 20px;
        @include pc {
            max-width: get_pc(1576);
            margin: 0 auto get_pc(20);
        }
        @include sp {
            padding: get_sp(8) 0 get_sp(8) get_sp(11);
            margin: 0;
        }
        li {
            &:nth-last-child(2) {
                &:before {
                    content: none;
                }
            }
            &:last-child {
                @include sp {
                    margin: 0;
                }
            }
        }
    }

    /*
        tlt_announce_broadcast_program
    */
    #tlt_announce_broadcast_program {
        .tlt_head {
            background-color: #E8F3FF;
            padding: 54px 0 25px;
            @include pc {
                padding: get_pc(54) 0 get_pc(25);
            }
            @include sp {
                padding: get_sp(17) get_sp(6) get_sp(18) get_sp(16);
            }
        }
        h2 {
            position: relative;
            text-align: left;
            max-width: 1576px;
            padding-bottom: 23.5px;
            margin: 0 auto;
            font-size: 35px;
            line-height: 51px;
            letter-spacing: 3.5px;
            border-bottom: 3px solid #fff;
            font-weight: bold;
            color: #004898;
            @include pc {
                max-width: get_pc(1576);
                font-size: get_pc(35);
                line-height: get_pc(51);
                letter-spacing: get_pc(3.5);
                padding-bottom: get_pc(23.5);
                border-bottom: get_pc(3) solid #fff;
            }
            @include sp {
                font-size: get_sp(20);
                line-height: get_sp(29);
                letter-spacing: get_sp(1.8);
                padding-bottom: get_sp(16);
                border-bottom: get_sp(2) solid #fff;
            }
        }
    }

    /*
        announce_broadcast_program
    */
    #announce_broadcast_program {
        .inner {
            max-width: 1582px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 53px 0 96px;
            @include pc {
                max-width: get_pc(1582);
                padding: get_pc(53) 0 get_pc(96);
            }
            @include sp {
                padding: get_sp(32) 0 0;
                flex-direction: column;
            }
        }
        .content {
            width: 1231px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            @include pc {
                width: get_pc(1231);
            }
            @include sp {
                margin: 0 auto;
                width: get_sp(365);
            }
            h2 {
                text-align: left;
                font-size: 25px;
                letter-spacing: 2.5px;
                line-height: 36px;
                margin-bottom: 39px;
                font-weight: 400;
                @include pc {
                    font-size: get_pc(25);
                    letter-spacing: get_pc(2.5);
                    line-height: get_pc(36);
                    margin-bottom: get_pc(39);
                }
                @include sp {
                    font-size: get_sp(16);
                    letter-spacing: get_sp(1.6);
                    line-height: get_sp(25);
                    margin-bottom: get_sp(14);
                }
            }
        }
        .table {
            border: 2px solid #004898;
            width: 100%;
            display: flex;
            margin-bottom: 33px;
            @include pc {
                border: get_pc(2) solid #004898;
                margin-bottom: get_pc(33);
            }
            @include sp {
                border: 1px solid #004898;
                margin-bottom: get_sp(14);
            }
            thead {
                width: 346px;
                background: #004898 0% 0% no-repeat padding-box;
                @include pc {
                    width: get_pc(346);
                }
                @include sp {
                    width: get_sp(123);
                }
                tr {
                    display: flex;
                    align-items: center;
                    padding: 27px 26px;
                    @include pc {
                        padding: get_pc(27) get_pc(26);
                    }
                    @include sp {
                        padding: get_sp(14) get_sp(5);
                    }
                    &:not(:last-child) {
                        border-bottom: 1px solid #FFFFFF;
                    }
                    th {
                        font-size: 25px;
                        letter-spacing: 2.5px;
                        line-height: 35px;
                        font-weight: bold;
                        color: #FFFFFF;
                        @include pc {
                            font-size: get_pc(25);
                            letter-spacing: get_pc(2.5);
                            line-height: get_pc(35);
                        }
                        @include sp {
                            font-size: get_sp(14);
                            letter-spacing: get_sp(0.7);
                            line-height: get_sp(21);
                        }
                    }
                }
            }
            tbody {
                width: 927px;
                @include pc {
                    width: get_pc(927);
                }
                @include sp {
                    width: get_sp(244);
                }
                tr {
                    display: flex;
                    align-items: center;
                    padding: 27px 31px;
                    border-bottom: 1px solid #004898;
                    @include pc {
                        padding: get_pc(27) get_pc(31);
                    }
                    @include sp {
                        padding: get_sp(14) get_sp(11);
                        width: 100%;
                        height: get_sp(50);
                    }
                    &:first-child{
                        background: #004898;
                        border-left: 2px solid #ffffff;
                        @include pc {
                            border-left: get_pc(2) solid #ffffff;
                        }
                        @include sp {
                            border-left: 1px solid #ffffff;
                        }
                    }
                    th {
                        font-size: 25px;
                        letter-spacing: 2.5px;
                        line-height: 35px;
                        font-weight: bold;
                        color: #FFFFFF;
                        @include pc {
                            font-size: get_pc(25);
                            letter-spacing: get_pc(2.5);
                            line-height: get_pc(35);
                        }
                        @include sp {
                            font-size: get_sp(14);
                            letter-spacing: get_sp(0.7);
                            line-height: get_sp(31);
                        }
                    }

                    td {
                        font-size: 25px;
                        letter-spacing: 2.5px;
                        line-height: 35px;
                        font-weight: 400;
                        @include pc {
                            font-size: get_pc(25);
                            letter-spacing: get_pc(2.5);
                            line-height: get_pc(35);
                        }
                        @include sp {
                            font-size: get_sp(14);
                            letter-spacing: 0;
                            line-height: get_sp(20);
                        }
                    }
                }
            }
        }
        p {
            text-align: left;
            font-weight: 400;
            font-size: 25px;
            letter-spacing: 2.5px;
            line-height: 35px;
            margin-bottom: 47px;
            @include pc {
                font-size: get_pc(25);
                letter-spacing: get_pc(2.5);
                line-height: get_pc(35);
                margin-bottom: get_pc(47);
            }
            @include sp {
                font-size: get_sp(16);
                letter-spacing: get_sp(1.6);
                line-height: get_sp(25);
                margin-bottom: get_sp(16);
            }
        }
        .link_document {
            text-align: left;
            font-size: 25px;
            letter-spacing: 2.5px;
            line-height: 35px;
            display: flex;
            align-items: center;
            @include pc {
                font-size: get_pc(25);
                letter-spacing: get_pc(2.5);
                line-height: get_pc(35);
            }
            @include sp {
                font-size: get_sp(16);
                letter-spacing: get_sp(0.8);
                line-height: get_sp(25);
            }
            &:last-child {
                @include sp {
                    margin-bottom: get_sp(45);
                }
            }
            &:nth-last-child(2) {
                margin-bottom: 20px;
                @include pc {
                    margin-bottom: get_pc(20);
                }
                @include sp {
                    margin-bottom: get_sp(10);
                }
            }
            a {
                display: block;
                font-weight: bold;
                text-decoration: underline;
                color: #004898;
                margin-right: 10px;
                @include pc {
                    margin-right: get_pc(10);
                }
                @include sp {
                    margin-right: get_sp(5);
                }
            }
            .file_pdf {
                border: 2px solid #FF0000;
                border-radius: 7px;
                @include pc {
                    border: get_pc(2) solid #FF0000;
                    border-radius: get_pc(7);
                }
                @include sp {
                    border: get_sp(2) solid #FF0000;
                    border-radius: get_sp(7);
                }
                span {
                    display: block;
                    padding: 1px 8px 2px;
                    font-size: 17px;
                    letter-spacing: 1.7px;
                    line-height: 25px;
                    color: #FF0000;
                    font-weight: 500;
                    @include pc {
                        padding: get_pc(1) get_pc(8) get_pc(2);
                        font-size: get_pc(17);
                        letter-spacing: get_pc(1.7);
                        line-height: get_pc(25);
                    }
                    @include sp {
                        padding: get_sp(1) get_sp(6) get_sp(2) get_sp(7);
                        font-size: get_sp(14);
                        letter-spacing: get_sp(1.4);
                        line-height: get_sp(20);
                    }
                }
            }
        }
        .tab_content {
            width: 314px;
            text-align: left;
            border: 2px solid #004898;
            @include pc {
                width: get_pc(314);
                border: get_pc(2) solid #004898;
            }
            @include sp {
                width: 100%;
                border: get_sp(2) solid #004898;
            }
            tr {
                display: flex;
                align-items: center;
                padding: 15px 8px 15px 6px;
                background: #FFFFFF;
                @include pc {
                    padding: get_pc(15) get_pc(8) get_pc(15) get_pc(6);
                }
                @include sp {
                    padding: get_sp(11) 0 get_sp(11) get_sp(14);
                }
                &:not(:last-child) {
                    border-bottom: 2px solid #004898;
                    @include pc {
                        border-bottom: get_pc(2) solid #004898;
                    }
                    @include sp {
                        border-bottom: get_sp(2) solid #004898;
                    }
                }
                th {
                    font-weight: bold;
                    font-size: 18px;
                    letter-spacing: 0.8px;
                    line-height: 26px;
                    color: #004898;
                    @include pc {
                        font-size: get_pc(18);
                        letter-spacing: get_pc(0.8);
                        line-height: get_pc(26);
                    }
                    @include sp {
                        font-size: get_sp(14);
                        letter-spacing: get_sp(0.7);
                        line-height: get_sp(20);
                    }
                    a {
                        color: #004898;
                    }
                }
                &:nth-child(1) {
                    background: #004898;
                    @include pc {
                        padding: get_pc(18) 0 get_pc(18) get_pc(9);
                    }
                    @include sp {
                        padding: get_sp(15) 0 get_sp(12) get_sp(15);
                    }
                    th {
                        font-weight: bold;
                        color: #FFFFFF;
                        font-size: 25px;
                        letter-spacing: 2.5px;
                        line-height: 36px;
                        @include pc {
                            font-size: get_pc(25);
                            letter-spacing: get_pc(2.5);
                            line-height: get_pc(36);
                        }
                        @include sp {
                            font-size: get_sp(20);
                            letter-spacing: get_sp(2);
                            line-height: get_sp(29);
                        }
                    }
                }
            }
            .active {
                background: #E8F3FF;
            }
        }
    }
}