/*
    main
*/
.broadcast_standard {
    #main {
        overflow-x: hidden;
        margin-top: 0;
        padding-top: 160px;
        @include pc {
            padding-top: get_pc(160);
        }
        @include sp {
            padding-top: get_sp(100);
        }
    }
    .breadcrumb {
        max-width: 1576px;
        margin: 0 auto 20px;
        @include pc {
            max-width: get_pc(1576);
            margin: 0 auto get_pc(20);
        }
        @include sp {
            padding: get_sp(8) 0 get_sp(8) get_sp(11);
            margin: 0;
        }
        li {
            &:nth-last-child(2) {
                &:before {
                    content: none;
                }
            }
            &:last-child {
                @include sp {
                    margin: 0;
                }
            }
        }
    }

    /*
        tlt_broadcast_standard
    */
    #tlt_broadcast_standard {
        .tlt_head {
            background-color: #E8F3FF;
            padding: 54px 0 25px;
            @include pc {
                padding: get_pc(54) 0 get_pc(25);
            }
            @include sp {
                padding: get_sp(17) get_sp(6) get_sp(18) get_sp(16);
            }
        }
        h2 {
            position: relative;
            text-align: left;
            max-width: 1576px;
            padding-bottom: 23.5px;
            margin: 0 auto;
            font-size: 35px;
            line-height: 51px;
            letter-spacing: 3.5px;
            border-bottom: 3px solid #fff;
            font-weight: bold;
            color: #004898;
            @include pc {
                max-width: get_pc(1576);
                font-size: get_pc(35);
                line-height: get_pc(51);
                letter-spacing: get_pc(3.5);
                padding-bottom: get_pc(23.5);
                border-bottom: get_pc(3) solid #fff;
            }
            @include sp {
                font-size: get_sp(20);
                line-height: get_sp(29);
                letter-spacing: get_sp(1.8);
                padding-bottom: get_sp(16);
                border-bottom: get_sp(2) solid #fff;
            }
        }
    }

    /*
        broadcast_standard
    */
    #broadcast_standard {
        .inner {
            max-width: 1582px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 51px 0 80px;
            @include pc {
                max-width: get_pc(1582);
                padding: get_pc(51) 0 get_pc(80);
            }
            @include sp {
                padding: get_sp(32) 0 0;
                flex-direction: column;
            }
        }
        .content {
            width: 1231px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            @include pc {
                width: get_pc(1231);
            }
            @include sp {
                margin: 0 auto;
                width: get_sp(365);
            }
            .table {
                border: 2px solid #004898;
                margin-bottom: 43px;
                @include pc {
                    border: get_pc(2)solid #004898;
                    margin-bottom: get_pc(43);
                }
                @include sp {
                    border: 1px solid #004898;
                    margin-bottom: get_sp(41);
                }
                tr {
                    th {
                        vertical-align: middle;
                        font-size: 25px;
                        letter-spacing: 2.5px;
                        line-height: 35px;
                        color: #FFFFFF;
                        font-weight: bold;
                        padding: 27px 26px;
                        background: #004898;
                        border: 1px solid #FFFFFF;
                        text-align: left;
                        @include pc {
                            font-size: get_pc(25);
                            letter-spacing: get_pc(2.5);
                            line-height: get_pc(35);
                            padding: get_pc(27) get_pc(26);
                        }
                        @include sp {
                            font-size: get_sp(14);
                            letter-spacing: get_sp(0.7);
                            line-height: get_sp(20);
                            padding: get_sp(14) get_sp(5);
                        }
                    }
                    td {
                        text-align: left;
                        font-size: 20px;
                        letter-spacing: 2px;
                        line-height: 29px;
                        padding: 16px 0 16px 31px;
                        border-bottom: 1px solid #004898;
                        vertical-align: middle;
                        @include pc {
                            font-size: get_pc(20);
                            letter-spacing: get_pc(2);
                            line-height: get_pc(29);
                            padding: get_pc(16) 0 get_pc(16) get_pc(31);
                        }
                        @include sp {
                            font-size: get_sp(14);
                            letter-spacing: 0;
                            line-height: get_sp(20);
                            padding: 0 0 get_sp(10) 0;
                        }
                    }
                    &:last-child {
                        th {
                            width: 206px;
                            height: 178px;
                            @include pc {
                                width: get_pc(206);
                                height: get_pc(178);
                            }
                            @include sp {
                                width: get_sp(65);
                                height: get_sp(60);
                            }
                        }
                        td {
                            @include sp {
                                padding-top: get_sp(4);
                            }
                        }
                    }
                    &:nth-last-child(2) {
                        th {
                            width: 140px;
                            @include pc {
                                width: get_pc(140);
                            }
                            @include sp {
                                width: get_sp(50);
                            }
                            &:nth-child(2) {
                                padding-right: 35px;
                                height: 178px;
                                @include pc {
                                    padding-right: get_pc(35);
                                    height: get_pc(178);
                                }
                                @include sp {
                                    padding-right: get_sp(5);
                                    height: get_sp(60);
                                }
                            }
                        }
                        td {
                            @include sp {
                                padding-top: get_sp(4);
                            }
                        }
                    }
                    &:nth-last-child(3),&:nth-last-child(4) {
                        td {
                            @include sp {
                                padding-top: get_sp(6);
                            }
                        }
                    }
                    &:nth-last-child(5) {
                        td {
                            @include sp {
                                padding-top: get_sp(10);
                            }
                        }
                    }
                    &:first-child {
                        td {
                            @include sp {
                                padding-top: get_sp(2);
                            }
                        }
                    }
                }
            }
            p {
                font-size: 25px;
                letter-spacing: 2.5px;
                line-height: 36px;
                font-weight: 400;
                text-align: left;
                margin-bottom: 14px;
                @include pc {
                    font-size: get_pc(25);
                    letter-spacing: get_pc(2.5);
                    line-height: get_pc(36);
                    margin-bottom: get_pc(14);
                }
                @include sp {
                    font-size: get_sp(16);
                    letter-spacing: get_sp(1.6);
                    line-height: get_sp(25);
                    margin-bottom: get_sp(10);
                }
            }
            a {
                text-decoration: underline;
                display: block;
                text-align: left;
                font-size: 25px;
                letter-spacing: 2.5px;
                line-height: 36px;
                font-weight: bold;
                color: #004898;
                @include pc {
                    font-size: get_pc(25);
                    letter-spacing: get_pc(2.5);
                    line-height: get_pc(36);
                }
                @include sp {
                    font-size: get_sp(16);
                    letter-spacing: get_sp(0.8);
                    line-height: get_sp(24);
                    margin-bottom: get_sp(39);
                }
            }
        }
        .tab_content {
            width: 314px;
            text-align: left;
            border: 2px solid #004898;
            @include pc {
                width: get_pc(314);
                border: get_pc(2) solid #004898;
            }
            @include sp {
                width: 100%;
                border: get_sp(2) solid #004898;
            }
            tr {
                display: flex;
                align-items: center;
                padding: 15px 8px 15px 6px;
                background: #FFFFFF;
                @include pc {
                    padding: get_pc(15) get_pc(8) get_pc(15) get_pc(6);
                }
                @include sp {
                    padding: get_sp(11) 0 get_sp(11) get_sp(14);
                }
                &:not(:last-child) {
                    border-bottom: 2px solid #004898;
                    @include pc {
                        border-bottom: get_pc(2) solid #004898;
                    }
                    @include sp {
                        border-bottom: get_sp(2) solid #004898;
                    }
                }
                th {
                    font-weight: bold;
                    font-size: 18px;
                    letter-spacing: 0.8px;
                    line-height: 26px;
                    color: #004898;
                    @include pc {
                        font-size: get_pc(18);
                        letter-spacing: get_pc(0.8);
                        line-height: get_pc(26);
                    }
                    @include sp {
                        font-size: get_sp(14);
                        letter-spacing: get_sp(0.7);
                        line-height: get_sp(20);
                    }
                    a {
                        color: #004898;
                    }
                }
                &:nth-child(1) {
                    background: #004898;
                    @include pc {
                        padding: get_pc(18) 0 get_pc(18) get_pc(9);
                    }
                    @include sp {
                        padding: get_sp(15) 0 get_sp(12) get_sp(15);
                    }
                    th {
                        font-weight: bold;
                        color: #FFFFFF;
                        font-size: 25px;
                        letter-spacing: 2.5px;
                        line-height: 36px;
                        @include pc {
                            font-size: get_pc(25);
                            letter-spacing: get_pc(2.5);
                            line-height: get_pc(36);
                        }
                        @include sp {
                            font-size: get_sp(20);
                            letter-spacing: get_sp(2);
                            line-height: get_sp(29);
                        }
                    }
                }
            }
            .active {
                background: #E8F3FF;
            }
        }
    }
}