/*
  main
 */
.page_kokoroni {
    #main {
        overflow-x: hidden;
        margin-top: 0;
        padding-top: 160px;
        @include pc {
            padding-top: get_pc(160);
        }
        @include sp {
            padding-top: get_sp(100);
        }
    }
}

/*
  tlt_section
*/
#tlt_section {
    margin-bottom: 89px;
    @include pc {
        margin-bottom: get_pc(89);
    }
    @include sp {
        margin-bottom: 0;
    }
    .inner {
        max-width: 1920px;
        margin: 0 auto;
        width: 100%;
        @include pc {
            max-width: get_pc(1920);
        }
    }
    .tlt_category {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.9px;
        display: flex;
        align-items: center;
        margin-left: 170px;
        padding: 7px 0 20px;
        @include pc {
            font-size: get_pc(18);
            line-height: get_pc(26);
            letter-spacing: get_pc(0.9);
            margin-left: get_pc(170);
            padding: get_pc(7) get_pc(0) get_pc(20);
        }
        @include sp {
            font-size: get_sp(12);
            line-height: get_sp(17);
            letter-spacing: get_sp(0.6);
            margin-left: get_sp(11);
            padding: get_sp(8) 0;
        }
        li {
            position: relative;
            padding-right: 32px;
            @include pc {
                padding-right: get_pc(32);
            }

            &:last-child {
                @include sp {
                    padding-right: 0;
                }
            }

            &:nth-child(1) {
                @include sp {
                    padding-right: get_sp(15);
                }
                &:after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    right: 12px;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%) rotate(45deg);
                    border-top: 1px solid #212121;
                    border-right: 1px solid #212121;
                    @include pc {
                        width: get_pc(10);
                        height: get_pc(10);
                        right: get_pc(12);
                    }
                    @include sp {
                        width: get_sp(6);
                        height: get_sp(6);
                        right: get_sp(6);
                    }
                }
            }
            > a {
                color: #707070;
            }
        }
    }
    .tlt_info_current {
        background: #E8F3FF 0% 0% no-repeat padding-box;
        padding: 0 172px 32px;
        @include pc {
            padding: 0 get_pc(172) get_pc(32);
        }
        @include sp {
            padding: 0 get_sp(8) get_sp(13);
        }
        h2 {
            font-size: 30px;
            letter-spacing: 3px;
            line-height: 44px;
            color: #004898;
            font-weight: bold;
            text-align: left;
            padding: 38px 0 24px;
            border-bottom: 3px solid #FFFFFF;
            @include pc {
                font-size: get_pc(30);
                letter-spacing: get_pc(3);
                line-height: get_pc(44);
                padding: get_pc(38) 0 get_pc(24);
                border-bottom: get_pc(3) solid #FFFFFF;
            }
            @include sp {
                font-size: get_sp(18);
                letter-spacing: get_sp(1.8);
                line-height: get_sp(26);
                padding: get_sp(11) 0 get_sp(10) 0;
                border-bottom: get_sp(2) solid #FFFFFF;
            }
        }
    }
}

/*
  content_kokoroni
*/
#content_kokoroni {
    .inner {
        max-width: 1364px;
        width: 100%;
        margin: 0 auto 33px;
        @include pc {
            max-width: get_pc(1364);
            margin: 0 auto get_pc(33);
        }
        @include sp {
            max-width: get_sp(390);
            margin: 0 auto get_sp(10);
        }
    }
    .video_youtube {
        width: 100%;
        height: 767px;
        margin-bottom: 62px;
        @include pc {
            height: get_pc(767);
            margin-bottom: get_pc(62);
        }
        @include sp {
            height: get_sp(221);
            margin-bottom: get_sp(26);
        }
        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .txt_content {
        font-size: 25px;
        letter-spacing: 2.5px;
        line-height: 50px;
        text-align: center;
        margin: 0 auto 75px;
        @include pc {
            font-size: get_pc(25);
            letter-spacing: get_pc(2.5);
            line-height: get_pc(50);
            margin: 0 auto get_pc(75);
        }
        @include sp {
            font-size: get_sp(16);
            letter-spacing: 0;
            line-height: get_sp(25);
            margin: 0 auto get_sp(37);
        }
        p{
            font-weight: 400;
            &:not(:last-child){
                margin-bottom: 65px;
                @include pc {
                    margin-bottom: get_pc(65);
                }
                @include sp {
                    margin-bottom: get_sp(25);
                }
            }
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 110px;
        @include pc {
            margin-bottom: get_pc(110);
        }
        @include sp {
            flex-direction: column;
            margin-bottom: get_sp(65);
            padding: 0 get_sp(17);
        }
        li {
            &:not(:last-child){
                @include sp {
                    margin-bottom: get_sp(14);
                }
            }
            .thumb {
                width: 439px;
                height: 227px;
                @include pc {
                    width: get_pc(439);
                    height: get_pc(227);
                }
                @include sp {
                    width: 100%;
                    height: get_sp(185);
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    span {
        font-size: 30px;
        letter-spacing: 4.5px;
        line-height: 44px;
        color: #004898;
        font-weight: bold;
        display: block;
        padding-bottom: 25px;
        border-bottom: 3px solid #004898;
        margin-bottom: 81px;
        @include pc {
            font-size: get_pc(30);
            letter-spacing: get_pc(4.5);
            line-height: get_pc(44);
            padding-bottom: get_pc(25);
            border-bottom: get_pc(3) solid #004898;
            margin-bottom: get_pc(81);
        }
        @include sp {
            font-size: get_sp(18);
            letter-spacing: get_sp(1.8);
            line-height: get_sp(26);
            padding-bottom: get_sp(10);
            border-bottom: get_sp(2) solid #004898;
            margin: 0 get_sp(8) get_sp(20);
        }
    }
    .list_brand {
        @include sp {
            padding: 0 get_sp(8);
        }
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .item_brand {
            display: flex;
            margin-bottom: 64px;
            @include pc {
                margin-bottom: get_pc(64);
            }
            @include sp {
                flex-direction: column;
                margin-bottom: get_sp(34);
            }
            .thumb {
                width: 522px;
                height: 280px;
                @include pc {
                    width: get_pc(522);
                    height: get_pc(280);
                }
                @include sp {
                    width: 100%;
                    height: get_sp(155);
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .txt_desp {
                width: 840px;
                text-align: left;
                position: relative;
                padding: 29px 38px 69px 27px;
                background: #F2F2F2 0% 0% no-repeat padding-box;
                border-radius: 0 32px 32px 0;
                @include pc {
                    width: get_pc(840);
                    padding: get_pc(29) get_pc(38) get_pc(69) get_pc(27);
                    border-radius: 0 get_pc(32) get_pc(32) 0;
                }
                @include sp {
                    width: 100%;
                    padding: get_sp(14) get_sp(6) get_sp(46);
                    border-radius: 0 0 get_sp(32) get_sp(32);
                }
                h3 {
                    font-size: 30px;
                    letter-spacing: 3px;
                    line-height: 44px;
                    color: #004898;
                    margin-bottom: 14px;
                    font-weight: bold;
                    @include pc {
                        font-size: get_pc(30);
                        letter-spacing: get_pc(3);
                        line-height: get_pc(44);
                        margin-bottom: get_pc(14);
                    }
                    @include sp {
                        font-size: get_sp(18);
                        letter-spacing: get_sp(1.8);
                        line-height: get_sp(25);
                        margin-bottom: get_sp(15);
                    }
                }
                p {
                    font-size: 20px;
                    letter-spacing: 2px;
                    line-height: 25px;
                    font-weight: 400;
                    @include pc {
                        font-size: get_pc(20);
                        letter-spacing: get_pc(2);
                        line-height: get_pc(25);
                    }
                    @include sp {
                        font-size: get_sp(16);
                        letter-spacing: get_sp(1.6);
                        line-height: get_sp(25);
                    }
                }
                span {
                    position: absolute;
                    bottom: 16px;
                    right: 48px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font-size: 16px;
                    letter-spacing: 1.6px;
                    line-height: 24px;
                    color: #000000;
                    font-weight: 500;
                    @include pc {
                        bottom: get_pc(16);
                        right: get_pc(48);
                        font-size: get_pc(16);
                        letter-spacing: get_pc(1.6);
                        line-height: get_pc(24);
                    }
                    @include sp {
                        right: get_sp(10);
                        bottom: get_sp(23);
                        font-size: get_sp(14);
                        letter-spacing: get_sp(1.4);
                        line-height: get_sp(25);
                    }
                }
            }
        }
    }
}