.the_press {
    .tlt_head {
        background-color: #E8F3FF;
        padding: 54px 0 25.5px;
        margin-bottom: 69px;
        @include pc {
            margin-bottom: get_pc(69);
            padding: get_pc(54) 0 get_pc(25.5);
        }
        @include sp {
            padding: get_sp(16);
            margin-bottom: get_sp(14);
        }
        h2 {
            position: relative;
            text-align: left;
            max-width: 1576px;
            padding-bottom: 23.5px;
            margin: 0 auto;
            font-size: 35px;
            line-height: 51px;
            letter-spacing: 3.5px;
            border-bottom: 3px solid #fff;
            font-weight: bold;
            color: #004898;
            @include pc {
                max-width: get_pc(1576);
                font-size: get_pc(35);
                line-height: get_pc(51);
                letter-spacing: get_pc(3.5);
                padding-bottom: get_pc(23.5);
            }
            @include sp {
                font-size: get_sp(20);
                line-height: get_sp(29);
                letter-spacing: get_sp(1.6);
                padding-bottom: get_sp(5);
            }
        }
    }
    .content {
        text-align: left;
        max-width: 1362px;
        margin: 0 auto;
        width: 100%;
        @include pc {
            max-width: get_pc(1362);
        }
        @include sp {
            max-width: 100%;
            padding: 0 get_sp(15);
        }
    }
    h3 {
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 3px;
        padding-bottom: 13.5px;
        border-bottom: 3px solid;
        margin-bottom: 51px;
        font-weight: bold;
        color: #004898;
        @include pc {
            font-size: get_pc(30);
            line-height: get_pc(35);
            letter-spacing: get_pc(3);
            padding-bottom: get_pc(13.5);
            border-bottom: get_pc(3) solid;
            margin-bottom: get_pc(51);
        }
        @include sp {
            font-size: get_sp(18);
            line-height: get_sp(26);
            letter-spacing: get_sp(1.8);
            padding-bottom: get_sp(10);
            border-bottom: get_sp(2) solid;
            margin-bottom: get_sp(30);
        }
    }
    .item_content {
        margin-bottom: 76px;
        @include pc {
            margin-bottom: get_pc(76);
        }
        @include sp {
            margin-bottom: get_sp(31);
        }
        h4 {
            font-size: 25px;
            line-height: 35px;
            letter-spacing: 2.5px;
            padding-bottom: 10px;
            border-bottom: 2px solid;
            margin-bottom: 33px;
            font-weight: bold;
            @include pc {
                font-size: get_pc(25);
                line-height: get_pc(35);
                letter-spacing: get_pc(2.5);
                padding-bottom: get_pc(10);
                border-bottom: get_pc(2) solid;
                margin-bottom: get_pc(33);
            }
            @include sp {
                font-size: get_sp(16);
                line-height: get_sp(24);
                letter-spacing: get_sp(1.8);
                padding-bottom: get_sp(11.5);
                border-bottom: get_sp(2) solid;
                margin-bottom: get_sp(14.5);
            }
        }
        li {
            margin-bottom: 30px;
            @include pc {
                margin-bottom: get_pc(30);
            }
            @include sp {
                margin-bottom: get_sp(12);
            }
            &:before {
                content: "";
                display: inline-block;
                position: relative;
                top: 4px;
                margin-right: 10px;
                width: 25px;
                height: 25px;
                @include bgsetup("../images/icon_arrow_a.png", center center, 100% auto, no-repeat);
                @include pc {
                    top: get_pc(4);
                    margin-right: get_pc(10);
                    width: get_pc(25);
                    height: get_pc(25);
                }
                @include sp {
                    top: get_sp(4);
                    margin-right: 0;
                    width: get_sp(20);
                    height: get_sp(20);
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            font-size: 25px;
            line-height: 26px;
            letter-spacing: 2.5px;
            border-bottom: 1px solid;
            color: #4594EB;
            font-weight: 400;
            @include pc {
                font-size: get_pc(25);
                line-height: get_pc(26);
                letter-spacing: get_pc(2.5);
            }
            @include sp {
                font-size: get_sp(14);
                line-height: get_sp(20);
                letter-spacing: get_sp(0.4);
            }
        }
        .thumb {
            width: 1247px;
            margin: 0 auto 50px;
            @include pc {
                width: get_pc(1247);
                margin: 0 auto get_pc(50);
            }
            @include sp {
                width: 100%;
                margin-bottom: get_sp(30);
            }
        }
    }
    .txt_desp {
        span {
            display: block;
            font-size: 25px;
            line-height: 32px;
            letter-spacing: 2.5px;
            margin-bottom: 20px;
            @include pc {
                font-size: get_pc(25);
                line-height: get_pc(32);
                letter-spacing: get_pc(2.5);
                margin-bottom: get_pc(20);
            }
            @include sp {
                font-size: get_sp(16);
                line-height: get_sp(25);
                letter-spacing: get_sp(1.6);
                margin-bottom: get_sp(4);
            }
            &:last-child {
                a {
                    border-bottom: none;
                }
            }
        }
        a {
            color: #004898;
            font-weight: bold;
        }
    }
    ul {
        &.pdf {
            li {
                &:after {
                    content: "";
                    display: inline-block;
                    position: relative;
                    top: 4px;
                    margin-left: 8px;
                    width: 52px;
                    height: 28px;
                    @include bgsetup("../images/icon_pdf.svg", center center, 100% auto, no-repeat);
                    @include pc {
                        top: get_pc(4);
                        margin-left: get_pc(8);
                        width: get_pc(52);
                        height: get_pc(28);
                    }
                    @include sp {
                        top: get_sp(4);
                        margin-left: 0;
                        width: get_sp(37);
                        height: get_sp(20);
                    }
                }
            }
        }
    }
    .both_normal_pdf {
        ul.normal {
            padding-bottom: 38px;
            margin-bottom: 33px;
            border-bottom: 2px solid #F2F2F2;
            @include pc {
                padding-bottom: get_pc(38);
                margin-bottom: get_pc(33);
                border-bottom: get_pc(2) solid #F2F2F2;
            }
            @include sp {
                padding-bottom: get_sp(18);
                margin-bottom: get_sp(15);
                border-bottom: get_sp(2) solid #F2F2F2;
            }
        }
    }
}