#<Files ~ "^\.ht">
#	Deny from all
#</Files>
#
#<Files wp-login.php>
#	Order deny,allow
#	Deny from all
#	Allow from all
#	#Allow from 127.0.0.1
#	AuthType Basic
#	AuthName "ENTER YOUR NAME & PASSWORD TO LOGIN"
#	AuthUserFile /home/kusanagi/.htpasswd
#	Require valid-user
#	Satisfy any
#</Files>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /wp-kusanagi-core/DocumentRoot/
	#RewriteRule Shibboleth.sso - [L]
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_URI} !\.(gif|css|js|swf|jpeg|jpg|jpe|png|ico|swd|pdf|svg|eot|ttf|woff)$
	RewriteCond %{REQUEST_FILENAME} !-f
	#RewriteCond %{REQUEST_URI} !(^/Shibboleth.sso/)
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /wp-kusanagi-core/DocumentRoot/index.php [L]
</IfModule>


# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /wp_twellv/DocumentRoot/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wp_twellv/DocumentRoot/index.php [L]
</IfModule>

# END WordPress

php_value upload_max_filesize 1000M
php_value post_max_size 1000M
php_value max_execution_time 1000
php_value max_input_time 1000