@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
@mixin formclear {
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}

@mixin bgsetup($bgimage: "", $bgposi: "", $bgsize: "", $bgrepeat: "") {
    @if $bgimage != "" {
        background-image: url($bgimage);
    }
    @if $bgposi != "" {
        background-position: $bgposi;
    }
    @if $bgsize != "" {
        background-size: $bgsize;
    }
    @if $bgrepeat != "" {
        background-repeat: $bgrepeat;
    } @else {
        background-repeat: no-repeat;
    }
}

@mixin pc {
    //pc
    @media (max-width: $breakpoint-pc) and (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin sp {
    //sp
    @media (max-width: ($breakpoint-md)) {
        @content;
    }
}

@function get_pc($fsize, $viewport: 1920) {
    $rate: 100 / $viewport;
    @return $rate * $fsize * 1vw;
}

@function get_sp($fsize, $viewport: 390) {
    $rate: 100 / $viewport;
    @return $rate * $fsize * 1vw;
}

/* text clamp */
@mixin txtClamp($clamp: "") {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $clamp;
}
