$base-font-family: 'Noto Sans JP', sans-serif;
$font-roboto: "Roboto", sans-serif;
$breakpoint-pc: 1920px;
$breakpoint-lg: 961px;
$breakpoint-md: 960px;
$breakpoint-sm: 393px;

$clr-base: #FFFFFF;
$clr-txt-base: #000000;
$clr-base-bg: #fdfdfd;
$clr-base-font: #000000;
$clr-base-txt: #004898;
$ease-inout: ease-in-out;
$ease-liner: linear;
$ease-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-cubic-out: cubic-bezier(0.915, 0.03, 0.91, 0.35);
