.broadcast_edit_standard {
    .tlt_head {
        background-color: #E8F3FF;
        padding: 54px 0 25.5px;
        margin-bottom: 69px;
        @include pc {
            margin-bottom: get_pc(69);
            padding: get_pc(54) 0 get_pc(25.5);
        }
        @include sp {
            padding: get_sp(17) get_sp(16) get_sp(18.5);
            margin-bottom: get_sp(32);
        }
        h2 {
            position: relative;
            text-align: left;
            max-width: 1576px;
            padding-bottom: 23.5px;
            margin: 0 auto;
            font-size: 35px;
            line-height: 51px;
            letter-spacing: 3.5px;
            border-bottom: 3px solid #fff;
            font-weight: bold;
            color: #004898;
            @include pc {
                max-width: get_pc(1576);
                font-size: get_pc(35);
                line-height: get_pc(51);
                letter-spacing: get_pc(3.5);
                padding-bottom: get_pc(23.5);
            }
            @include sp {
                font-size: get_sp(20);
                line-height: get_sp(29);
                letter-spacing: get_sp(1.6);
                padding-bottom: get_sp(16);
            }
        }
    }
    .content {
        display: flex;
        text-align: left;
        max-width: 1584px;
        margin: 0 auto 104px;
        width: 100%;
        @include pc {
            max-width: get_pc(1584);
            margin: 0 auto get_pc(104);
        }
        @include sp {
            display: block;
            max-width: auto;
            padding: 0 get_sp(16);
            margin-bottom: 0;
        }
        .txt_desp {
            padding-top: 24px;
            @include pc {
                padding-top: get_pc(24);
            }
            @include sp {
                padding-top: 0;
                margin-bottom: get_sp(57);
            }
            >p {
                line-height: 35px;
                margin-bottom: 50px;
                @include pc {
                    line-height: get_pc(35);
                    margin-bottom: get_pc(50);
                }
                @include sp {
                    letter-spacing: get_sp(1.6);
                    line-height: get_sp(25);
                    margin-bottom: get_sp(40);
                }
            }
            >span {
                display: block;
                line-height: 35px;
                @include pc {
                    line-height: get_pc(35);
                }
                @include sp {
                    line-height: get_sp(25);
                }
            }
        }
        h3 {
            font-size: 30px;
            line-height: 44px;
            letter-spacing: 3px;
            padding-bottom: 13.5px;
            margin-bottom: 23.5px;
            border-bottom: 3px solid;
            color: #004898;
            font-weight: bold;
            @include pc {
                font-size: get_pc(30);
                line-height: get_pc(44);
                letter-spacing: get_pc(3);
                padding-bottom: get_pc(13.5);
                margin-bottom: get_pc(23.5);
                border-bottom: get_pc(3) solid;
            }
            @include sp {
                font-size: get_sp(18);
                line-height: get_sp(26);
                letter-spacing: get_sp(1.8);
                padding-bottom: get_sp(10);
                margin-bottom: get_sp(12);
                border-bottom: get_sp(2) solid;
            }
        }
        p,span {
            font-size: 25px;
            line-height: 50px;
            letter-spacing: 2.5px;
            font-weight: 400;
            @include pc {
                font-size: get_pc(25);
                line-height: get_pc(50);
                letter-spacing: get_pc(2.5);
            }
            @include sp {
                font-size: get_sp(16);
                line-height: get_sp(25);
                letter-spacing: 0;
            }
        }
        li {
            display: flex;
            span {
                margin-right: 31.5px;
                min-width: 40px;
                flex-shrink: 0;
                @include pc {
                    min-width: get_pc(40);
                    margin-right: get_pc(31.5);
                }
                @include sp {
                    min-width: get_sp(22);
                    margin-right: get_sp(2);
                }
            }
            a {
                color: #004898;
                line-height: 26px;
                border-bottom: 1px solid;
                font-weight: 500;
                @include pc {
                    line-height: get_pc(26);
                }
                @include sp {
                    line-height: get_sp(17);
                }
            }
        }

    }
}
