/*
    main
*/
.business_philosophy {
    #main {
        overflow-x: hidden;
        margin-top: 0;
        padding-top: 160px;
        @include pc {
            padding-top: get_pc(160);
        }
        @include sp {
            padding-top: get_sp(100);
        }
    }
    /*
        business_philosophy
    */
    #business_philosophy {
        .tlt_head {
            margin-bottom: 0;
        }
        .content_section {
            max-width: 1582px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 51px 0 133px;
            @include pc {
                max-width: get_pc(1582);
                padding: get_pc(51) 0 get_pc(133);
            }
            @include sp {
                padding: get_sp(30) 0 0;
                flex-direction: column;
            }
        }
        .content {
            width: 1231px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            @include pc {
                width: get_pc(1231);
            }
            @include sp {
                width: 100%;
                padding: 0 get_sp(12);
            }
            .txt_desp {
                text-align: left;
                font-size: 25px;
                letter-spacing: 2.5px;
                line-height: 35px;
                @include pc {
                    font-size: get_pc(25);
                    letter-spacing: get_pc(2.5);
                    line-height: get_pc(35);
                }
                @include sp {
                    font-size: get_sp(16);
                    letter-spacing: get_sp(1.6);
                    line-height: get_sp(25);
                }
                p {
                    font-weight: 400;
                    &:not(:last-child) {
                        margin-bottom: 30px;
                        @include pc {
                            margin-bottom: get_pc(30);
                        }
                        @include sp {
                            margin-bottom: get_sp(20);
                        }
                    }
                    &:nth-last-child(2) {
                        margin-bottom: 42px;
                        @include pc {
                            margin-bottom: get_pc(42);
                        }
                        @include sp {
                            margin-bottom: get_sp(26);
                        }
                    }
                }
                .slogan {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-bottom: 117px;
                    @include pc {
                        margin-bottom: get_pc(117);
                    }
                    @include sp {
                        flex-direction: column;
                        align-items: flex-end;
                        margin-bottom: get_sp(66);
                    }
                    .thumb {
                        &:nth-child(1) {
                            width: 170px;
                            padding-right: 14px;
                            @include pc {
                                width: get_pc(170);
                                padding-right: get_pc(14);
                            }
                            @include sp {
                                width: get_sp(113);
                                padding-right: 0;
                                margin-bottom: get_sp(10);
                            }
                        }
                        &:nth-child(2) {
                            width: 339px;
                            @include pc {
                                width: get_pc(339);
                            }
                            @include sp {
                                width: get_sp(193);
                            }
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            .company_mvv {
                text-align: left;
                h2 {
                    font-size: 30px;
                    letter-spacing: 3px;
                    line-height: 35px;
                    color: #004898;
                    font-weight: bold;
                    padding-bottom: 13.5px;
                    border-bottom: 3px solid #004898;
                    margin-bottom: 38.5px;
                    @include pc {
                        font-size: get_pc(30);
                        letter-spacing: get_pc(3);
                        line-height: get_pc(35);
                        padding-bottom: get_pc(13.5);
                        border-bottom: get_pc(3) solid #004898;
                        margin-bottom: get_pc(38.5);
                    }
                    @include sp {
                        font-size: get_sp(18);
                        letter-spacing: get_sp(1.8);
                        line-height: get_sp(25);
                        padding-bottom: get_sp(14);
                        border-bottom: get_sp(2) solid #004898;
                        margin-bottom: get_sp(21);
                    }
                }
                ul {
                    li {
                        display: flex;
                        align-items: center;
                        background: #C5DBF4;
                        &:not(:last-child) {
                            margin-bottom: 36px;
                            @include pc {
                                margin-bottom: get_pc(36);
                            }
                            @include sp {
                                margin-bottom: get_sp(17);
                            }
                        }
                        &:last-child {
                            @include sp {
                                margin-bottom: get_sp(57);
                            }
                            p {
                                padding: 0 0 0 32px;
                                line-height: 30px;
                                margin-bottom: 0;
                                display: flex;
                                @include pc {
                                    padding: 0 0 0 get_pc(32);
                                    line-height: get_pc(30);
                                }
                                @include sp {
                                    padding: 0 0 get_sp(4) 0;
                                    line-height: get_sp(19);
                                }
                                &:before {
                                    content: "・";
                                }
                            }
                        }
                        &:nth-child(2) {
                            p {
                                padding-left: 35px;
                                @include pc {
                                    padding-left: get_pc(35);
                                }
                                @include sp {
                                    padding: get_sp(16) 0 get_sp(15) 0 ;
                                }
                            }
                        }
                        .thumb {
                            width: 381px;
                            @include pc {
                                width: get_pc(381);
                            }
                            @include sp {
                                width: get_sp(172);
                                height: get_sp(86);
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        p {
                            font-size: 25px;
                            letter-spacing: 2.5px;
                            line-height: 36px;
                            font-weight: 400;
                            text-align: left;
                            padding: 51px 0 43px 40px;
                            @include pc {
                                font-size: get_pc(25);
                                letter-spacing: get_pc(2.5);
                                line-height: get_pc(36);
                                padding: get_pc(51) 0 get_pc(43) get_pc(40);
                            }
                            @include sp {
                                width: get_sp(187);
                                font-size: get_sp(16);
                                letter-spacing: get_sp(1.6);
                                line-height: get_sp(24);
                                padding: get_sp(31) 0 get_sp(30) 0;
                            }
                        }
                    }
                }
            }
        }
        .tab_content {
            margin-left: 36.08px;
            @include pc {
                margin-left: get_pc(36.08);
            }
            @include sp {
                margin: 0;
            }
            tr {
                @include sp {
                    padding: get_sp(11) get_sp(14);
                }
                &:nth-child(1) {
                    @include pc {
                        padding: get_pc(18) get_pc(9);
                    }
                }
            }
        }
    }
}