.correlation_diagrams {
    #main {
        overflow-x: hidden;

        @include sp {
            margin-top: get_sp(100);
        }

        @include pc {
            margin-top: get_pc(160);
        }
    }

    /*
        banner
    */
    #banner {
        .inner {
            max-width: 1920px;
            margin: 0 auto 61.78px;
            @include pc {
                max-width: get_pc(1920);
                margin: 0 auto get_pc(61.78);
            }
            @include sp {
                margin-bottom: 0;
            }
        }
        .thumb {
            width: 1920px;
            height: 175px;
            @include pc {
                width: get_pc(1920);
                height: get_pc(175);
            }
            @include sp {
                width: 100%;
                height: get_sp(115);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .items_link {
            ul {
                padding: 20px 0 20px 222px;
                @include pc {
                    padding: get_pc(20) 0 get_pc(20) get_pc(222);
                }
                @include sp {
                    margin-bottom: get_sp(24.33);
                    padding: get_sp(10) 0 get_sp(9);
                }
            }
        }
    }

    /*
        correlation_diagrams
    */
    #correlation_diagrams {
        .inner {
            max-width: 1469px;
            margin: 0 auto 82px;
            @include pc {
                max-width: get_pc(1469);
                margin: 0 auto get_pc(82);
            }
            @include sp {
                width: 100%;
                padding: 0 get_sp(16);
                margin-bottom: get_sp(16);
            }
        }
        center {
            a {
                display: block;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .one_program_block {
            margin-bottom: 30px;
            @include pc {
                margin-bottom: get_pc(30);
            }
            @include sp {
                margin-bottom: get_sp(30);
            }
            //.brand_left {
            //    >a, .txt_desp{
            //        margin-bottom: 50px;
            //        display: block;
            //        @include pc {
            //            margin-bottom: get_pc(50);
            //        }
            //        @include sp {
            //            margin-bottom: get_sp(16);
            //        }
            //    }
            //}
            &.next-ep {
                background-color: #C2D9F4;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 35px;
                @include pc {
                    padding: get_pc(35);
                }
                @include sp {
                    display: block;
                    padding: 0 0 get_sp(2);
                }
                p {
                    font-size: 20px;
                    letter-spacing: 0;
                    line-height: 30px;
                    font-weight: 400;
                    color: #16345A;
                    text-align: left;
                    @include pc {
                        font-size: get_pc(20);
                        line-height: get_pc(30);
                    }
                    @include sp {
                        padding: 0 get_sp(13.69) get_sp(19);
                        font-size: get_sp(16);
                        line-height: get_sp(25);
                    }
                }
                > span {
                    flex-basis: 100%;
                    text-align: center;
                    padding: 44px 0 25px;
                    font-size: 30px;
                    font-weight: bold;
                    color: #16345A;
                    @include pc {
                        padding: get_pc(44) 0 get_pc(25);
                        font-size: get_pc(30);
                    }
                }
                .brand_left {
                    display: flex;
                    align-items: center;
                    transition: all .3s;
                    @include sp {
                        width: 100%;
                        padding: get_sp(14) get_sp(26.5) get_sp(14) get_sp(19);
                    }
                    &:hover {
                        opacity: 0.7;
                    }
                    .thumb {
                        width: 332px;
                        height: 207px;
                        margin-right: 41px;

                        @include pc {
                            width: get_pc(332);
                            height: get_pc(207);
                            margin-right: get_pc(41);
                        }

                        @include sp {
                            width: get_sp(155);
                            height: get_sp(110);
                            margin-right: get_sp(14.5);
                        }
                        img {
                            box-shadow: 0 3px 6px #00000029;
                            border-radius: 9px;
                        }
                    }

                    .txt_desp {
                        text-align: left;
                        span.util_sp {
                            color: #16345A;
                            font-weight: bold;
                            @include sp {
                                font-size: get_sp(16);
                                line-height: get_sp(24);
                                letter-spacing: get_sp(0.8);
                                margin-bottom: get_sp(5);
                            }
                            &:after {
                                display: inline-block;
                                content: "";
                                background-image: url("../images/btn_arrow_right.svg");
                                background-position: center center;
                                background-size: 100% auto;
                                background-repeat: no-repeat;
                                width: get_sp(15);
                                height: get_sp(16);
                                margin-left: get_sp(6);
                            }
                        }
                        h2 {
                            font-size: 30px;
                            color: #16345A;
                            font-weight: bold;
                            line-height: 44px;
                            letter-spacing: 1.5px;
                            padding-bottom: 11.5px;
                            margin-bottom: 9.5px;
                            border-bottom: 2px solid #16345A;
                            text-align: left;
                            @include pc {
                                font-size: get_pc(30);
                                line-height: get_pc(44);
                                letter-spacing: get_pc(1.5);
                                padding-bottom: get_pc(11.5);
                                margin-bottom: get_pc(9.5);
                                border-bottom: get_pc(2) solid #16345A;
                            }

                            @include sp {
                                font-size: get_sp(16);
                                line-height: get_sp(24);
                                letter-spacing: get_sp(0.8);
                                padding-bottom: get_sp(10);
                                margin-bottom: get_sp(5);
                                border-bottom: get_sp(1) solid #16345A;
                            }
                        }

                        p {
                            &:nth-last-child(2) {
                                font-size: 25px;
                                font-weight: bold;
                                line-height: 35px;
                                letter-spacing: 2.5px;
                                margin-bottom: 8.5px;
                                @include pc {
                                    font-size: get_pc(25);
                                    line-height: get_pc(35);
                                    letter-spacing: get_pc(2.5);
                                    margin-bottom: get_pc(8.5);
                                }

                                @include sp {
                                    font-size: get_sp(16);
                                    line-height: get_sp(20);
                                    letter-spacing: get_sp(1.6);
                                    padding: 0;
                                    margin-bottom: 0;
                                }
                                .reair {
                                    color: white;
                                    background-color: #335683;
                                    border-radius: 5px;
                                    padding: 3px 4px 4px 6px;
                                    font-size: 14px;
                                    font-weight: normal;
                                    vertical-align: bottom;
                                    @include pc {
                                        padding: get_pc(3) get_pc(4) get_pc(4) get_pc(6);
                                        font-size: get_pc(14);
                                    }
                                    @include sp {
                                        padding: get_sp(2) get_sp(4) get_sp(3) get_sp(5);
                                        font-size: get_sp(11);
                                    }
                                }
                            }
                        }
                    }
                }

                .brand_right {
                    transition: all .3s;
                    background: #699BD3;
                    &:hover {
                        background-color: #0A5AB2;
                    }
                    a {
                        display: flex;
                        justify-content: center;
                    }
                    span {
                        display: inline-block;
                        border-radius: 6px;
                        @include pc {
                            border-radius: get_pc(6);
                        }
                        @include sp {
                            border-radius: get_sp(6);
                        }
                    }

                    h4 {
                        position: relative;
                        font-size: 24px;
                        color: #FFFFFF;
                        font-weight: bold;
                        line-height: 35px;
                        letter-spacing: 2.4px;
                        border: 1px solid #E8C816;
                        border-radius: 6px;
                        padding: 50px 60px;
                        margin: 10px;

                        @include pc {
                            font-size: get_pc(24);
                            line-height: get_pc(35);
                            letter-spacing: get_pc(2.4);
                            border-radius: get_pc(6);
                            padding: get_pc(50) get_pc(60);
                            margin: get_pc(10);
                        }

                        @include sp {
                            font-size: get_sp(16);
                            line-height: get_sp(26);
                            letter-spacing: get_sp(1.8);
                            border: get_sp(1) solid #E8C816;
                            border-radius: get_sp(6);
                            padding: get_sp(14) get_sp(55);
                            margin: get_sp(8) 0;
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            width: 23px;
                            height: 18px;
                            left: 41px;
                            top: 35px;
                            @include bgsetup("../images/icon_tlt_brand.png", center center, 100% auto, no-repeat);
                            @include pc {
                                width: get_pc(23);
                                height: get_pc(18);
                                left: get_pc(41);
                                top: get_pc(35);
                            }
                            @include sp {
                                width: get_sp(15.8);
                                height: get_sp(12);
                                left: get_sp(39);
                                top: get_sp(10);
                            }
                        }
                    }
                }
            }
            &.next-ep.live_preview {
                .txt_desp {
                    width: 500px;
                    @include pc {
                        width: get_pc(500);
                    }
                    @include sp {
                        width: 100%;
                        flex: 1;
                    }
                }
            }
        }
        .text-wrap {
            margin-bottom: 50px;
            width: initial;
            @include pc {
                margin-bottom: get_pc(50);
            }
            @include sp {
                margin-bottom: get_sp(16);
            }
        }
        h2 {
            font-size: 30px;
            letter-spacing: 3px;
            line-height: 44px;
            font-weight: bold;
            color: #004898;
            padding-bottom: 26px;
            border-bottom: 3px solid #004898;
            margin-bottom: 50px;
            text-align: center;
            @include pc {
                font-size: get_pc(30);
                letter-spacing: get_pc(3);
                line-height: get_pc(44);
                padding-bottom: get_pc(26);
                border-bottom: get_pc(3) solid #004898;
                margin-bottom: get_pc(50);
            }
            @include sp {
                font-size: get_sp(18);
                letter-spacing: get_sp(1.8);
                line-height: get_sp(26);
                padding-bottom: get_sp(11.79);
                border-bottom: get_sp(2) solid #004898;
                margin-bottom: get_sp(15.88);
            }
        }
    }

    /*
        kboard
    */
    #kboard {
        .inner {
            margin-bottom: 82px;
            @include pc {
                margin-bottom: get_pc(82);
            }
            @include sp {
                margin-bottom: get_sp(41.42);
            }
        }
    }
    #ranking {
        @include sp {
            margin-bottom: get_sp(40);
        }
        .content_ranking {
            padding-top: 34px;
            @include pc {
                padding-top: get_pc(34);
            }
            @include sp {
                padding-top: get_sp(12);
            }
        }
        .tlt_section {
            margin-bottom: 78px;
            @include pc {
                margin-bottom: get_pc(78);
            }
            @include sp {
                margin-bottom: get_sp(16.91);
            }
        }
    }
    #ranking_section {
        margin-bottom: 87px;
        @include pc {
            margin-bottom: get_pc(87);
        }
        @include sp {
            margin-bottom: get_sp(32.59);
        }
        .content_ranking {
            @include sp {
                padding-top: get_sp(12);
            }
            .btn_link {
                right: 164px;
                @include pc {
                    right: get_pc(164);
                }
                @include sp {
                    right: 50%;
                }
            }
        }
    }
    #recommended_movies {
        .tlt_section {
            @include sp {
                margin-bottom: get_sp(20);
            }
        }
        .program_slide {
            margin-bottom: 104px;
            @include pc {
                margin-bottom: get_pc(104);
            }
            @include sp {
                margin-bottom: get_sp(24);
            }
        }
    }
    #pr {
        .inner {
            margin-bottom: 104px;
            @include pc {
                margin-bottom: get_pc(104);
            }
            @include sp {
                margin-bottom: get_sp(36);
            }
        }
        .tlt_section {
            margin-bottom: 37px;
            @include pc {
                margin-bottom: get_pc(37);
            }
            @include sp {
                margin-bottom: get_sp(14);
            }
        }
    }
    #other {
        .tlt_section {
            margin-bottom: 70px;
            @include pc {
                margin-bottom: get_pc(70);
            }
            @include sp {
                margin-bottom: get_sp(16);
            }
        }
        .list_other {
            margin-bottom: 79px;
            @include pc {
                margin-bottom: get_pc(79);
            }
            @include sp {
                margin-bottom: get_sp(50);
            }
            ul {
                li {
                    &:nth-child(8) {
                        a {
                            @include sp {
                                padding-left: get_sp(12);
                            }
                        }
                    }
                    &:nth-last-child(-n + 2) {
                        @include sp {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .thumb {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}