.list_program {
    #main {
        overflow-x: hidden;

        @include sp {
            margin-top: get_sp(100);
        }

        @include pc {
            margin-top: get_pc(160);
        }
    }

    .breadcrumb {
        margin: 7px auto 45px 170px;

        @include pc {
            margin: get_pc(7) auto get_pc(45) get_pc(170);
        }

        @include sp {
            margin: get_sp(8) auto get_sp(14) get_sp(11);
        }

        span {
            color: #6a6a6a;
        }

        li {
            padding: 0;
        }
    }
    #broadcast_schedule {
        .tlt_section {
            margin: 0 auto 18px;
            background: transparent;
            padding-top: 0;
            padding-bottom: 0;

            @include pc {
                margin: 0 auto get_pc(18);
            }

            @include sp {
                margin: 0 auto get_sp(15);
            }
        }

        .program_slide {
            margin-bottom: 27.91px;
            border-bottom: none;
            background: transparent;
            padding-bottom: 0;

            @include pc {
                margin-bottom: get_pc(27.91);
            }

            @include sp {
                margin-bottom: get_sp(24);
            }
        }

        .list_brand {
            margin-bottom: 50px;
            @include pc {
                margin-bottom: get_pc(50);
            }
            @include sp {
                margin-bottom: get_sp(25);
            }
        }
    }
    #recommend {
        margin-top: 0;
        .tlt_section {
            margin: 0 auto 18px;
            background: transparent;
            padding-top: 0;
            padding-bottom: 0;

            @include pc {
                margin: 0 auto get_pc(18);
            }

            @include sp {
                margin: 0 auto get_sp(15);
            }
        }
        .bg_gray {
            background: unset;
            padding-bottom: 0;
            padding-top: 11px;
            border: 0;
            margin-bottom: 0;
            @include pc {
                padding-top: get_pc(11);
            }
            @include sp {
                padding-top: get_sp(7);
            }
            .program_slide {
                margin-bottom: 45px;
                @include pc {
                    margin-bottom: get_pc(45);
                }
                @include sp {
                    margin-bottom: get_sp(18);
                }
            }
        }
        .list_brand {
            margin-bottom: 75px;
            @include pc {
                margin-bottom: get_pc(75);
            }
            @include sp {
                margin-bottom: get_sp(38);
            }
        }
    }
    /*
    program_air
    */
    #program_list {
        .tlt_section {
            h2 {
                display: flex;
                align-items: center;

                &:before {
                    content: " ";
                    @include bgsetup("../images/icon_ovice_left.svg", center center, 100% auto, no-repeat);
                    width: 26px;
                    height: 46px;
                    display: inline-block;
                    margin-right: 17px;

                    @include pc {
                        width: get_pc(26);
                        height: get_pc(46);
                        margin-right: get_pc(17);
                    }

                    @include sp {
                        width: get_sp(13);
                        height: get_sp(23);
                        margin-right: get_sp(5);
                    }
                }

                &:after {
                    content: " ";
                    @include bgsetup("../images/icon_ovice_right.svg", center center, 100% auto, no-repeat);
                    width: 26px;
                    height: 46px;
                    display: inline-block;
                    margin-left: 17px;

                    @include pc {
                        width: get_pc(26);
                        height: get_pc(46);
                        margin-left: get_pc(17);
                    }

                    @include sp {
                        width: get_sp(13);
                        height: get_sp(23);
                        margin-left: get_sp(5);
                    }
                }
            }
        }

        .program_slide {
            margin-bottom: 40px;

            @include pc {
                margin-bottom: get_pc(40);
            }

            @include sp {
                margin-bottom: get_sp(14);
            }
        }

        .item_slide {
            a {
                width: 352px;
                height: auto;
    
                @include pc {
                    width: get_pc(352);
                }
    
                @include sp {
                    width: get_sp(160);
                }
                .thumb {
                    margin: 0;
                    width: 100%;
                    height: 198px;
    
                    @include pc {
                        height: get_pc(198);
                    }
    
                    @include sp {
                        height: get_sp(90);
                    }
                    img {
                        border-radius: 15px 15px 0 0;
                        @include pc {
                            border-radius: get_pc(15) get_pc(15) 0 0;
                        }
                        @include sp {
                            border-radius: get_sp(5) get_sp(5) 0 0;
                        }
                    }
                }

                .txt_desp {
                    padding: 15px 16px;
                    text-align: left;

                    @include pc {
                        padding: get_pc(15) get_pc(16);
                    }

                    @include sp {
                        height: auto;
                        padding: get_sp(3) get_sp(2.5) get_sp(9);
                    }

                    h4 {
                        color: #004898;
                        font-size: 24px;
                        line-height: 35px;
                        font-weight: bold;
                        letter-spacing: 2.4px;
                        @include txtClamp(1);
                        @include pc {
                            font-size: get_pc(24);
                            line-height: get_pc(35);
                            letter-spacing: get_pc(2.4);
                        }

                        @include sp {
                            font-size: get_sp(14);
                            line-height: get_sp(20);
                            letter-spacing: get_sp(0.7);
                        }
                    }

                    p {
                        color: #004898;
                        font-size: 18px;
                        line-height: 26px;
                        font-weight: 500;
                        letter-spacing: 1.8px;
                        @include txtClamp(1);
                        padding: 0;
                        @include pc {
                            font-size: get_pc(18);
                            line-height: get_pc(26);
                            letter-spacing: get_pc(1.8);
                        }

                        @include sp {
                            font-size: get_sp(10);
                            line-height: get_sp(15);
                            letter-spacing: get_sp(1);
                        }
                    }
                }
            }
        }
    }

    .wrapper_slide_program {
        .program_slide {
            margin-bottom: 75px;

            @include pc {
                margin-bottom: get_pc(75);
            }

            @include sp {
                margin-bottom: get_sp(29);
            }
        }
    }

    /*
        other
    */
    #other {
        .list_other {
            li {
                &:nth-last-child(-n + 3) {
                    margin-bottom: 0;
                }
                &:nth-last-child(3) {
                    @include sp {
                        margin-bottom: get_sp(7);
                    }
                }
            }
        }
    }
}
