.makita_debate {
    .program-contents-wrap  {
        .inner {
            padding: 70px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include pc {
                padding: get_pc(70) 0;
            }
            @include sp {
                padding: get_sp(50) 0 get_sp(31);
            }
        }
        .heading-title_lv1 {
            display: none;
        }
        .text-wrap {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #FFFCE5;
            padding: 68px 0 33px;
            width: 1331px;
            border-radius: 25px;
            margin: 0 auto;
            @include pc {
                padding: get_pc(68) 0 get_pc(33);
                width: get_pc(1331);
                border-radius: get_pc(25);
            }
            @include sp {
                width: 97.7%;
                padding: get_sp(36) get_sp(16) get_sp(32) get_sp(21);
                border-radius: get_sp(25);
                margin: 0 get_sp(5);
            }
            p {
                font-size: 30px;
                line-height: 60px;
                letter-spacing: 3px;
                margin-bottom: 45px;
                font-weight: 700;
                color: #EA7540;
                padding: 0;
                display: contents;
                @include pc {
                    font-size: get_pc(30);
                    line-height: get_pc(60);
                    letter-spacing: get_pc(3);
                    margin-bottom: get_pc(45);
                }
                @include sp {
                    font-size: get_sp(18);
                    letter-spacing: 0;
                    line-height: get_sp(35);
                    margin-bottom: get_sp(26);
                }
            }
            span {
                display: inline-block;
                align-self: flex-end;
                color: #6A6A6A;
                font-size: 20px;
                line-height: 50px;
                letter-spacing: 2px;
                margin-right: 40px;
                @include pc {
                    align-self: flex-end;
                    font-size: get_pc(20);
                    line-height: get_pc(50);
                    letter-spacing: get_pc(2);
                    margin-right: get_pc(40);
                }
                @include sp {
                    align-self: center;
                    font-size: get_sp(14);
                    line-height: get_sp(20);
                    letter-spacing: 0;
                    margin: 0;
                }
            }
            &::before {
                content: "";
                display: block;
                background-image: url("../images/quotes.png");
                background-position: top left;
                background-size: 100% auto;
                background-repeat: no-repeat;
                position: absolute;
                width: 48px;
                height: 123px;
                top: 0;
                right: 64px;
                transform: translateY(-35%);
                @include pc {
                    width: get_pc(48);
                    height: get_pc(123);
                    right: get_pc(64);
                }
                @include sp {
                    width: get_sp(28);
                    height: get_sp(72);
                    right: get_sp(21);
                }
            }
            &::after {
                content: "";
                display: block;
                background-image: url("../images/quotes.png");
                background-position: top left;
                background-size: 100% auto;
                background-repeat: no-repeat;
                position: absolute;
                width: 48px;
                height: 123px;
                top: 100%;
                left: 30px;
                transform: translateY(-66%) rotate(180deg);
                @include pc {
                    width: get_pc(48);
                    height: get_pc(123);
                    left: get_pc(30);
                }
                @include sp {
                    width: get_sp(28);
                    height: get_sp(72);
                    left: get_sp(21);
                }
            }
        }
    }
}