.program_schedule {
    #main {
        overflow-x: hidden;
        margin-top: 160px;
        @include pc {
            margin-top: get_pc(160);
        }

        @include sp {
            margin-top: get_sp(100);
        }
    }

    .tlt_section {
        width: 100%;
        height: 80px;
        background-color: #004898;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        border-bottom: 1px solid #ffffff;

        @include pc {
            height: get_pc(80);
            border-bottom: get_pc(1) solid #ffffff;
        }

        @include sp {
            height: get_sp(38);
            border-bottom: none;
        }

        h2 {
            color: #fff;
            font-size: 35px;
            line-height: 51px;
            letter-spacing: 1.75px;
            font-weight: 500;
            position: relative;

            @include pc {
                font-size: get_pc(35);
                line-height: get_pc(51);
                letter-spacing: get_pc(1.75);
            }

            @include sp {
                font-size: get_sp(16);
                line-height: get_sp(38);
                letter-spacing: get_sp(1.6);
            }
        }
    }
    #rakuraku_epg {
        #header_top_area {
            width: 100%;
            height: 80px;
            @include pc {
                height: get_pc(80);
            }
            @include sp {
                height: get_sp(40);
            }
            .prev_btn {
                @include bgsetup("../images/arrow_thin_l.png", center center, 100% auto, no-repeat);
                width: 13px;
                height: 27px;
                transition: all ease 0.3s;
                @include pc {
                    width: get_pc(13);
                    height: get_pc(27);
                }
                @include sp {
                    width: get_sp(17);
                    height: get_sp(17);
                }
                &:hover {
                    opacity: 0.7;
                }
            }
            p {
                color: #fff;
                font-size: 25px;
                letter-spacing: 1.25px;
                line-height: 36px;
                display: flex;
                @include pc {
                    font-size: get_pc(25);
                    letter-spacing: get_pc(1.25);
                    line-height: get_pc(36);
                }
                @include sp {
                    font-size: get_sp(16);
                    letter-spacing: get_sp(1.6);
                    line-height: get_sp(24);
                }
                span {
                    display: block;
                    background-color: #0b326e;
                    font-size: 25px;
                    letter-spacing: 2.5px;
                    line-height: 36px;
                    color: #fff;
                    margin-left: 35px;
                    position: relative;
                    padding-right: 10px;

                    @include pc {
                        font-size: get_pc(25);
                        letter-spacing: get_pc(2.5);
                        line-height: get_pc(36);
                        margin-left: get_pc(35);
                        padding-right: get_pc(10);
                    }

                    @include sp {
                        border-radius: get_sp(16);
                        font-size: get_sp(16);
                        letter-spacing: get_sp(1.6);
                        line-height: get_sp(24);
                        margin-left: get_sp(20);
                    }

                    &::after {
                        content: "";
                        @include bgsetup("../images/arrow_slide_l.svg", center center, 100% auto, no-repeat);
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        right: -16px;
                        top: 8px;
                        transform: rotate(-90deg);

                        @include pc {
                            width: get_pc(18);
                            height: get_pc(18);
                            right: get_pc(-16);
                            top: get_pc(8);
                        }

                        @include sp {
                            width: get_sp(10);
                            height: get_sp(10);
                            right: get_sp(-5);
                            top: get_sp(4);
                        }
                    }
                }
            }

            .next_btn {
                @include bgsetup("../images/arrow_thin_r.png", center center, 100% auto, no-repeat);
                width: 13px;
                height: 27px;
                transition: all ease 0.3s;
                @include pc {
                    width: get_pc(13);
                    height: get_pc(27);
                }
                @include sp {
                    width: get_sp(17);
                    height: get_sp(17);
                }
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        #header_top_block,
        .header_saubox,
        .conf_area {
            height: 100%;
        }

        #header_top_block {
            background-color: #0d326e;
            padding: 0 24px;

            @include pc {
                padding: 0 get_pc(24);
            }

            @include sp {
                padding: 0 get_sp(15);
            }
        }

        .conf_area {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #dateSelect {
            flex: 1;
            text-align: right;
        }

        .selectBoxDate {
            flex: 1;
            text-align: left;
            background: none;
        }

        .selectBoxEvent {
            position: relative;

            &::before {
                content: "";
                background-image: url(../images/arrow_slide_l.svg);
                background-position: center;
                background-size: contain;
                width: 18px;
                height: 18px;
                position: absolute;
                left: 180px;
                top: 50%;
                transform: translateY(-40%) rotate(-90deg);
                background-repeat: no-repeat;

                @include pc {
                    width: get_pc(18);
                    height: get_pc(18);
                    left: get_pc(180);
                }

                @include sp {
                    width: get_sp(10);
                    height: get_sp(10);
                    left: get_sp(110);
                }
            }
        }

        #dateSelect,
        #select_time {
            color: #fff;
            font-size: 25px;
            letter-spacing: 1.25px;
            line-height: 36px;
            font-family: $base-font-family;
            margin-bottom: 0;

            @include pc {
                font-size: get_pc(25);
                letter-spacing: get_pc(1.25);
                line-height: get_pc(36);
            }

            @include sp {
                font-size: get_sp(16);
                letter-spacing: get_sp(1.25);
                line-height: get_sp(24);
            }
        }

        #dateSelect {
            margin-right: -90px;

            @include pc {
                margin-right: get_pc(-90);
            }

            @include sp {
                margin-right: get_sp(-60);
            }
        }

        #select_time {
            margin-left: 110px;

            @include pc {
                margin-left: get_pc(110);
            }

            @include sp {
                margin-left: get_sp(60);
            }
        }
        .select_arr01 {
            background: none;
            // position: relative;
            // padding-right: 26px;
            // writing-mode: vertical-lr;
            // transform: rotate(-90deg);
            // background-image: url(../images/arrow_slide_l.svg);

            // @include pc {
            //     padding-right: get_pc(26);
            // }

            // @include sp {
            //     padding-right: get_sp(26);
            // }
        }

        .selectBox_backarr,
        .selectBox_nextarr {
            background-color: transparent;
            font-size: 30px;
            margin: 0;

            @include pc {
                font-size: get_pc(30);
            }

            @include sp {
                font-size: get_sp(18);
            }

            div {
                display: none;
            }

            a {
                background-position: center center;
                background-size: 100% auto;
                background-repeat: no-repeat;
                width: 13px;
                height: 27px;
                transition: all ease 0.3s;

                @include pc {
                    width: get_pc(13);
                    height: get_pc(27);
                }

                @include sp {
                    width: get_sp(17);
                    height: get_sp(17);
                }
            }
        }

        .selectBox_backarr {
            text-align: left;
            a {
                background-image: url(../images/arrow_thin_l.png);
            }
        }

        .selectBox_nextarr {
            text-align: right;

            @include sp {
                text-align: center;
            }
            a {
            }

            a {
                background-image: url(../images/arrow_thin_r.png);
            }
        }

        #ch_area {
            box-shadow: 0 3px 6px #00000029;
            background-color: #e8f3ff;
            height: auto !important;
            padding: 0 64px;
            position: relative;

            @include pc {
                padding: 0 get_pc(64);
            }

            @include sp {
                display: none;
                padding: 0 get_sp(64);
            }

            &::before {
                left: 0;
            }

            &::after {
                right: 0;
            }
            &::before,
            &::after {
                content: "";
                width: 64px;
                height: 100%;
                position: absolute;
                top: 0;
                border-left: 1px solid #92bceb;
                border-right: 1px solid #92bceb;
                box-sizing: border-box;

                @include pc {
                    border-left: get_pc(1) solid #92bceb;
                    border-right: get_pc(1) solid #92bceb;
                    width: get_pc(64);
                }

                @include sp {
                    border-left: get_sp(1) solid #92bceb;
                    border-right: get_sp(1) solid #92bceb;
                    width: get_sp(64);
                }
            }
        }

        .ch_box {
            li {
                background: none;
                height: 80px;
                border-left: 1px solid #92bceb;
                border-right: 1px solid #92bceb;
                @include pc {
                    height: get_pc(80);
                    font-size: get_pc(25);
                    letter-spacing: get_pc(2.5);
                    line-height: get_pc(80);
                    border-left: get_pc(1) solid #92bceb;
                    border-right: get_pc(1) solid #92bceb;
                }

                @include sp {
                    height: get_sp(80);
                    font-size: get_sp(25);
                    letter-spacing: get_sp(2.5);
                    line-height: get_sp(80);
                    border-left: get_sp(1) solid #92bceb;
                    border-right: get_sp(1) solid #92bceb;
                }

                a {
                    color: #000;
                    font-size: 25px;
                    letter-spacing: 2.5px;
                    line-height: 80px;
                    font-weight: 400;
                    font-family: $base-font-family;

                    @include pc {
                        font-size: get_pc(25);
                        letter-spacing: get_pc(2.5);
                        line-height: get_pc(80);
                    }

                    @include sp {
                        font-size: get_sp(25);
                        letter-spacing: get_sp(2.5);
                        line-height: get_sp(80);
                    }
                }
            }
        }

        .time-00 {
            display: none;
        }

        #time_navi {
            li {
                width: 64px;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0.9px;
                color: #004898;
                font-family: $base-font-family;
                font-weight: bold;
                background-color: #fff;
                border: 1px solid #92bceb;
                padding-top: 16px;

                @include pc {
                    width: get_pc(64);
                    font-size: get_pc(18);
                    line-height: get_pc(25);
                    letter-spacing: get_pc(0.9);
                    border: get_pc(1) solid #92bceb;
                    padding-top: get_pc(16);
                }

                @include sp {
                    width: get_sp(30);
                    font-size: get_sp(20);
                    line-height: get_sp(25);
                    letter-spacing: get_sp(0.9);
                    border: get_sp(1) solid #92bceb;
                    padding-top: get_sp(16);
                }

                // &:nth-child(even) {
                //     background-color: #e8f3ff;
                // }
            }
        }

        #broadcaster_area {
            position: relative;
            padding-right: 64px;

            @include pc {
                padding-right: get_pc(64);
            }

            @include sp {
                padding-right: 0;
            }

            &::after {
                position: absolute;
                right: 0;
                top: 0;
                content: "";
                height: 100%;
                width: 64px;
                border: 1px solid #92bceb;
                box-sizing: border-box;

                @include pc {
                    border: get_pc(1) solid #92bceb;
                    width: get_pc(64);
                }

                @include sp {
                    border: none;
                    width: 0;
                }
            }
            .broadcaster_box {
                @include sp {
                    width: 100%;
                    max-width: 100%;
                }
                li {
                    background-color: #e8f3ff;
                    border: 1px solid #92bceb;
                    .time,
                    .categoryt {
                        font-size: 20px;
                        line-height: 25px;
                        color: #004898;
                        font-family: $base-font-family;
                        font-weight: bold;
                        text-align: left;
                        background: none;
                        display: inline-block;
                        height: auto;
                        width: auto;
                        padding: 16px 0 8px 0;

                        @include pc {
                            font-size: get_pc(20);
                            line-height: get_pc(25);
                            padding: get_pc(16) 0 get_pc(8) 0;
                        }

                        @include sp {
                            font-size: get_sp(20);
                            line-height: get_sp(20);
                            padding: 0 0 get_sp(8);
                        }
                    }

                    .title {
                        display: block;
                        text-align: left;
                        font-weight: bold;
                        font-family: $base-font-family;
                        color: #000000;
                        margin: 0 !important;
                        height: auto;
                        padding-top: 0;
                        font-size: 19px;
                        line-height: 29px;
                        letter-spacing: -0.5px;
                        padding-bottom: 18px;
                        @include txtClamp(3);

                        @include pc {
                            font-size: get_pc(19);
                            line-height: get_pc(29);
                            letter-spacing: get_pc(-0.5);
                            padding-bottom: get_pc(18);
                        }

                        @include sp {
                            font-size: get_sp(19);
                            line-height: get_sp(24);
                            padding-bottom: get_sp(8);
                        }
                    }

                    .dt {
                        color: #000;
                        font-family: $base-font-family;
                        text-align: left;
                        margin: 0 !important;
                        height: auto;
                        padding-top: 0;
                        font-size: 15px;
                        line-height: 25px;
                        letter-spacing: 0.8px;
                        padding-bottom: 8px;
                        @include txtClamp(5);

                        @include pc {
                            font-size: get_pc(15);
                            line-height: get_pc(25);
                            letter-spacing: get_pc(0.8);
                            padding-bottom: get_pc(8);
                        }

                        @include sp {
                            font-size: get_sp(15);
                            line-height: get_sp(26);
                            letter-spacing: get_sp(0.8);
                            padding-bottom: get_sp(21);
                        }
                    }

                    .bangumi_img {
                        img {
                            @include sp {
                                max-width: 100%;
                            }
                        }
                    }
                }

                .dummy {
                    background-color: lightgray;
                }
                a {
                    padding: 0 20px;
                    width: 100%;

                    @include pc {
                        padding: 0 get_pc(20);
                    }

                    @include sp {
                        padding: get_sp(10) get_sp(15) get_sp(15) get_sp(8);
                    }
                }
            }
        }
    }

    #pr {
        .tlt_section {
            background-color: unset;
            h2 {
                color: #004898;
            }
        }
    }

    #other {
        .tlt_section {
            background-color: unset;
        }
    }

    .item_brand {
        display: flex;
        margin: 28px auto 100px;
        justify-content: center;

        @include pc {
            margin: get_pc(28) auto get_pc(100);
        }

        @include sp {
            margin: 0 0 get_sp(30);
        }

        .thumb {
            width: 522px;
            height: 216px;

            @include pc {
                width: get_pc(522);
                height: get_pc(216);
            }

            @include sp {
                width: get_sp(185);
                height: get_sp(90);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .txt_desp {
            background-color: #f2f2f2;
            border-radius: 0 32px 32px 0;
            padding: 50px 45px 30px 25px;
            text-align: left;
            color: #000000;
            width: 1050px;
            height: 216px;

            @include pc {
                border-radius: 0 get_pc(32) get_pc(32) 0;
                padding: get_pc(50) get_pc(45) get_pc(30) get_pc(45);
                width: get_pc(1050);
                height: get_pc(216);
            }

            @include sp {
                border-radius: 0;
                padding: get_sp(11) get_sp(13) get_sp(11) get_sp(12);
                width: get_sp(210);
                height: get_sp(90);
            }

            h3 {
                font-size: 25px;
                letter-spacing: 2.5px;
                line-height: 36px;
                font-weight: bold;
                margin-bottom: 14px;
                @include txtClamp(1);

                @include pc {
                    font-size: get_pc(25);
                    letter-spacing: get_pc(2.5);
                    line-height: get_pc(36);
                    margin-bottom: get_pc(14);
                }

                @include sp {
                    font-size: get_sp(16);
                    line-height: get_sp(24);
                    letter-spacing: get_sp(1);
                    margin-bottom: get_sp(4);
                }
            }

            p {
                font-size: 20px;
                letter-spacing: 2px;
                line-height: 29px;
                width: 944px;
                font-weight: 600;

                @include pc {
                    font-size: get_pc(20);
                    letter-spacing: get_pc(2);
                    line-height: get_pc(29);
                    width: get_pc(944);
                }

                @include sp {
                    font-size: get_sp(14);
                    line-height: get_sp(20);
                    letter-spacing: get_sp(1.4);
                    width: get_sp(185);
                }
            }
        }
    }
}
