/*
    main
*/
.program_youth {
    #main {
        overflow-x: hidden;
        margin-top: 0;
        padding-top: 160px;
        @include pc {
            padding-top: get_pc(160);
        }
        @include sp {
            padding-top: get_sp(100);
        }
    }

    .breadcrumb {
        margin-bottom: 20px;
        @include pc {
            margin-bottom: get_pc(20);
        }
        @include sp {
            margin-bottom: get_sp(8);
            flex-wrap: nowrap;
            li {
                flex-shrink: 0;
            }
        }
    }

    .tab_content {
        margin: 0;
    }

    .tlt_head {
        margin-bottom: 0;
    }

    /*
    program_youth
    */
    #program_youth {
        .wrapper_content {
            max-width: 1576px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom: 120px;
            padding-top: 67px;
            @include pc {
                max-width: get_pc(1576);
                padding-bottom: get_pc(120);
                padding-top: get_pc(67);
            }

            @include sp {
                display: block;
                padding: get_sp(20) 0 0;
            }
        }
        .content {
            width: 1230px;

            @include pc {
                width: get_pc(1230);
            }

            @include sp {
                padding-top: 0;
                width: 100%;
                padding-left: get_sp(5);
                padding-right: get_sp(4);
            }

            li {
                display: flex;

                @include sp {
                    display: block;
                }

                &:not(:last-child) {
                    margin-bottom: 57px;

                    @include pc {
                        margin-bottom: get_pc(57);
                    }

                    @include sp {
                        margin-bottom: get_sp(37);
                    }
                }
                &:not(:last-child):not(:first-child) {
                    @include sp {
                        margin-bottom: get_sp(34);
                    }
                }
                &:last-child {
                    @include sp {
                        margin-bottom: get_sp(55);
                    }
                }
            }

            .thumb {
                width: 448px;

                @include pc {
                    width: get_pc(448);
                }

                @include sp {
                    width: 100%;
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .txt_desp {
                flex: 1;
                text-align: left;
                background: #f2f2f2;
                border-top-right-radius: 32px;
                border-bottom-right-radius: 32px;
                padding: 12px 20px;

                @include pc {
                    padding: get_pc(12) get_pc(20);
                    border-top-right-radius: get_pc(32);
                    border-bottom-right-radius: get_pc(32);
                }

                @include sp {
                    padding: get_sp(5) get_sp(11) get_sp(17) get_sp(9);
                    border-top-right-radius: 0;
                    border-bottom-right-radius: get_sp(18);
                    border-bottom-left-radius: get_sp(18);
                }
            }

            .tlt_desp {
                display: flex;
                align-items: flex-start;
                padding-right: 21px;

                @include pc {
                    padding-right: get_pc(21);
                }

                @include sp {
                    padding-right: 0;
                    display: block;
                }
            }

            h3 {
                font-size: 25px;
                line-height: 36px;
                font-weight: bold;
                letter-spacing: 2.5px;
                color: #004898;
                padding-bottom: 12px;
                flex: 1;
                border-bottom: 2px solid #004898;
                margin-right: 28px;
                margin-bottom: 4px;

                @include pc {
                    font-size: get_pc(25);
                    line-height: get_pc(36);
                    letter-spacing: get_pc(2.5);
                    padding-bottom: get_pc(12);
                    margin-right: get_pc(28);
                    margin-bottom: get_pc(4);
                }

                @include sp {
                    font-size: get_sp(18);
                    line-height: get_sp(26);
                    letter-spacing: get_sp(1.8);
                    padding-bottom: get_sp(7);
                    margin-bottom: get_sp(4);
                    margin-right: 0;
                }
            }

            .btn_more {
                border-radius: 5px;
                @include pc {
                    border-radius: get_pc(5);
                }

                @include sp {
                    width: get_sp(350);
                    margin: 0 auto;
                    border-radius: get_sp(5);
                }

                a {
                    padding: 8px 48px 8px 27px;

                    @include pc {
                        padding: get_pc(8) get_pc(48) get_pc(8) get_pc(27);
                    }

                    @include sp {
                        padding: get_sp(8) get_sp(16) get_sp(8) get_sp(152);
                    }

                    &:after {
                        width: 19px;
                        height: 24px;
                        @include pc {
                            width: get_pc(19);
                            height: get_pc(24);
                        }
                        @include sp {
                            width: get_sp(11);
                            height: get_sp(12);
                            right: get_sp(152);
                        }
                    }
                }
            }

            .date {
                margin-bottom: 4px;

                @include pc {
                    margin-bottom: get_pc(4);
                }

                @include sp {
                    margin-bottom: get_sp(8);
                }
            }

            span,
            p,
            strong {
                display: block;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                letter-spacing: 1.6px;
                color: #000000;

                @include pc {
                    font-size: get_pc(16);
                    line-height: get_pc(24);
                    letter-spacing: get_pc(1.6);
                }

                @include sp {
                    font-size: get_sp(16);
                    line-height: get_sp(24);
                    letter-spacing: get_sp(1.6);
                }
            }

            strong {
                font-weight: bold;
            }

            p {
                @include sp {
                    margin-bottom: get_sp(19);
                }
            }
        }
    }
}
