/*
    main
*/
.recruit_info {
    #main {
        overflow-x: hidden;
        margin-top: 0;
        padding-top: 160px;
        @include pc {
            padding-top: get_pc(160);
        }
        @include sp {
            padding-top: get_sp(100);
        }
    }

    .breadcrumb {
        @include sp {
            flex-wrap: nowrap;
            overflow-x: auto;

            li {
                flex-shrink: 0;
            }
        }
    }

    .tlt_head {
        margin-bottom: 0;
    }

    /*
    recruit_info
*/
#recruit_info {
    background: #f2f2f2;
    .wrapper_content {
        max-width: 1582px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 130px;
        padding-top: 128px;
        @include pc {
            max-width: get_pc(1582);
            padding-bottom: get_pc(130);
            padding-top: get_pc(128);
        }

        @include sp {
            display: block;
            padding: get_sp(62) get_sp(16) 0;
            justify-content: center;
        }
    }
    .content {
        width: 1247px;
        padding-top: 56px;

        @include pc {
            width: get_pc(1247);
            padding-top: get_pc(56);
        }

        @include sp {
            width: 100%;
            padding-top: 0;
        }

        .tlt_content {
            font-weight: 600;
            font-size: 70px;
            line-height: 70px;
            letter-spacing: 7px;
            margin-bottom: 48px;
            color: #000000;

            @include pc {
                font-size: get_pc(70);
                line-height: get_pc(70);
                letter-spacing: get_pc(7);
                margin-bottom: get_pc(48);
            }

            @include sp {
                font-size: get_sp(40);
                line-height: get_sp(50);
                letter-spacing: 0;
                margin-bottom: get_sp(26);
            }
        }

        .box_content {
            background: #ffffff;
            padding: 60px 56px 60px;

            @include pc {
                padding: get_pc(60) get_pc(56) get_pc(60);
            }

            @include sp {
                padding: get_sp(24) get_sp(5.5) get_sp(20);
                margin-bottom: get_sp(54);
            }

            h3 {
                font-size: 35px;
                line-height: 50px;
                letter-spacing: 3.5px;
                margin-bottom: 35px;
                color: #000000;
                opacity: 1;
                font-weight: 500;

                @include pc {
                    font-size: get_pc(35);
                    line-height: get_pc(50);
                    letter-spacing: get_pc(3.5);
                    margin-bottom: get_pc(35);
                }

                @include sp {
                    font-size: get_sp(25);
                    line-height: get_sp(46);
                    letter-spacing: get_sp(1.25);
                    margin-bottom: get_sp(35);
                }
            }
        }

        li {
            display: flex;
            text-align: left;
            border-bottom: 0.5px solid #707070;
            padding-bottom: 16px;
            margin-bottom: 17px;
            gap: 11px;

            @include pc {
                padding-bottom: get_pc(16);
                margin-bottom: get_pc(17);
                gap: get_pc(11);
            }

            @include sp {
                display: block;
                padding-bottom: get_sp(16);
                margin-bottom: get_sp(17);
            }

            &:first-child {
                padding-top: 20px;
                border-top: 0.5px solid #707070;

                @include pc {
                    padding-top: get_pc(20);
                }

                @include sp {
                    padding-top: get_sp(20);
                }
            }

            &:last-child {
                @include pc {
                    margin: 0;
                }
                @include sp {
                    border-bottom: none;
                    padding:0;
                    margin: 0;
                }
            }
        }

        h4 {
            width: 136px;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 1px;
            color: #4594eb;
            font-weight: 400;
            flex-shrink: 0;

            @include pc {
                width: get_pc(136);
                font-size: get_pc(20);
                line-height: get_pc(30);
                letter-spacing: get_pc(1);
            }

            @include sp {
                width: 100%;
                font-size: get_sp(16);
                line-height: get_sp(25);
                letter-spacing: 0;
                margin-bottom: get_sp(3);
            }
        }
        p {
            letter-spacing: 1px;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
            font-weight: 500;
            flex: 1;

            @include pc {
                letter-spacing: get_pc(1);
                font-size: get_pc(20);
                line-height: get_pc(30);
            }

            @include sp {
                width: get_sp(340);
                letter-spacing: 0;
                font-size: get_sp(16);
                line-height: get_sp(30);
            }
        }

        p,
        span {
            &.strong {
                font-weight: bold;
            }

            &.highlight {
                font-weight: bold;
                text-decoration: underline;
                color: #4594eb;
            }
        }

        .btn_link {
            border: 2px solid #4594eb;
            border-radius: 49px;
            display: inline-flex;
            align-items: center;
            padding: 14px 33px;
            font-size: 20px;
            color: #4594eb;
            opacity: 1;
            font-weight: 900;
            gap: 8px;
            margin: 14px 0;
            @include pc {
                border: get_pc(2) solid #4594eb;
                border-radius: get_pc(49);
                padding: get_pc(14) get_pc(33);
                font-size: get_pc(20);
                gap: get_pc(8);
                margin: get_pc(14) 0;
            }

            @include sp {
                display: flex;
                justify-content: center;
                align-items: center;
                width: get_sp(214);
                height: get_sp(50);
                border: get_sp(2) solid #4594eb;
                border-radius: get_sp(49);
                padding: 0;
                font-size: get_sp(14);
                gap: get_sp(4);
                margin: get_sp(22) auto get_sp(10);
            }

            .thumb {
                width: 31px;
                height: 31px;

                @include pc {
                    width: get_pc(31);
                    height: get_pc(31);
                }

                @include sp {
                    width: get_sp(24);
                    height: get_sp(24);
                }
            }
        }
    }
}
}



