/*
  main
*/
.viewer_gift {
    #main {
        overflow-x: hidden;
        margin-top: 0;
        padding-top: 160px;
        @include pc {
            padding-top: get_pc(160);
        }
        @include sp {
            padding-top: get_sp(100);
        }
    }

    .breadcrumb {
        max-width: 1576px;
        margin: 0 auto 20px;
        padding-top: 7px;
        @include pc {
            padding-top: get_pc(7);
            max-width: get_pc(1576);
            margin: 0 auto get_pc(20);
        }
        @include sp {
            padding: get_sp(8) 0 get_sp(8) get_sp(11);
            margin: 0;
        }
        li {
            &:nth-last-child(2) {
                &:before {
                    content: none;
                }
            }
            &:last-child {
                @include sp {
                    margin: 0;
                }
            }
        }
    }

    /*
        list_topic
    */
    #list_topic {
        .tlt_head {
            background: #E8F3FF 0% 0% no-repeat padding-box;
            padding: 0 172px 32px;
            margin-bottom: 70px;
            @include pc {
                margin-bottom: get_pc(70);
                padding: 0 get_pc(172) get_pc(32);
            }
            @include sp {
                margin-bottom: get_sp(20);
                padding: 0 get_sp(16) get_sp(16);
            }
            h2 {
                margin: 0 auto;
                max-width: 1576px;
                font-size: 30px;
                letter-spacing: 3px;
                line-height: 44px;
                color: #004898;
                font-weight: bold;
                text-align: left;
                padding: 38px 0 24px 0;
                border-bottom: 3px solid #FFFFFF;
                @include pc {
                    max-width: get_pc(1576);
                    font-size: get_pc(30);
                    letter-spacing: get_pc(3);
                    line-height: get_pc(44);
                    padding: get_pc(38) 0 get_pc(24) 0;
                    border-bottom: get_pc(3) solid #FFFFFF;
                }
                @include sp {
                    font-size: get_sp(18);
                    letter-spacing: get_sp(1.8);
                    line-height: get_sp(26);
                    padding: get_sp(16) 0 get_sp(5) 0;
                    border-bottom: get_sp(2) solid #FFFFFF;
                }
            }
        }
        .content_section {
            max-width: 1132px;
            width: 100%;
            margin: 0 auto 109px;
            @include pc {
                max-width: get_pc(1090);
                margin: 0 auto get_pc(109);
            }
            @include sp {
                margin: 0 0 get_sp(40);
            }
        }
        .program_baseball {
            display: flex;
            align-items: center;
            margin-bottom: 67px;
            @include pc {
                margin-bottom: get_pc(67);
            }
            @include sp {
                flex-direction: column;
                margin-bottom: get_sp(37);
                padding: 0 get_sp(5);
            }
            .thumb {
                width: 448px;
                height: 252px;
                @include pc {
                    width: get_pc(448);
                    height: get_pc(252);
                }
                @include sp {
                    width: 100%;
                    height: get_sp(216);
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .txt_desp {
                padding: 12px 52px 30px 20px;
                background: #F2F2F2 0% 0% no-repeat padding-box;
                border-radius: 0 32px 32px 0;
                text-align: left;
                position: relative;
                height: 252px;
                width: 642px;
                @include pc {
                    padding: get_pc(12) get_pc(52) get_pc(30) get_pc(20);
                    border-radius: 0 get_pc(32) get_pc(32) 0;
                    height: get_pc(252);
                    width: get_pc(642);
                }
                @include sp {
                    padding: get_sp(5) get_sp(11) get_sp(22) get_sp(11);
                    border-radius: 0 0 get_sp(18) get_sp(18);
                    height: get_sp(205);
                    width: 100%;
                }
                h2 {
                    font-size: 25px;
                    letter-spacing: 2.5px;
                    line-height: 36px;
                    color: #004898;
                    padding-bottom: 12px;
                    border-bottom: 2px solid #004898;
                    margin-bottom: 24px;
                    font-weight: bold;
                    @include pc {
                        font-size: get_pc(25);
                        letter-spacing: get_pc(2.5);
                        line-height: get_pc(36);
                        padding-bottom: get_pc(12);
                        border-bottom: get_pc(2) solid #004898;
                        margin-bottom: get_pc(24);
                    }
                    @include sp {
                        font-size: get_sp(18);
                        letter-spacing: get_sp(1.8);
                        line-height: get_sp(26);
                        padding-bottom: get_sp(9);
                        border-bottom: get_sp(2) solid #004898;
                        margin-bottom: get_sp(14);
                    }
                }
                span {
                    display: block;
                    font-size: 16px;
                    letter-spacing: 1.6px;
                    line-height: 24px;
                    @include pc {
                        font-size: get_pc(16);
                        letter-spacing: get_pc(1.6);
                        line-height: get_pc(24);
                    }
                    @include sp {
                        font-size: get_sp(16);
                        letter-spacing: get_sp(1.6);
                        line-height: get_sp(24);
                    }
                }
                .btn_bottom {
                    padding: 10px 0 10px 64px;
                    width: 289px;
                    border: 1px solid #004898;
                    border-radius: 5px;
                    position: absolute;
                    bottom: 30px;
                    right: 42px;
                    @include pc {
                        padding: get_pc(10) 0 get_pc(10) get_pc(64);
                        width: get_pc(289);
                        border: 1px solid #004898;
                        border-radius: get_pc(5);
                        position: absolute;
                        bottom: get_pc(30);
                        right: get_pc(42);
                    }
                    @include sp {
                        width: get_sp(350);
                        border: 1px solid #004898;
                        border-radius: get_sp(5);
                        position: absolute;
                        bottom: get_sp(22);
                        right: get_sp(20);
                        padding: get_sp(7) 0 get_sp(10) get_sp(120);
                    }
                    a {
                        font-size: 18px;
                        letter-spacing: 1.8px;
                        line-height: 26px;
                        font-weight: bold;
                        color: #004898;
                        display: flex;
                        align-items: center;
                        @include pc {
                            font-size: get_pc(18);
                            letter-spacing: get_pc(1.8);
                            line-height: get_pc(26);
                        }
                        @include sp {
                            font-size: get_sp(14);
                            letter-spacing: get_sp(1.4);
                            line-height: get_sp(20);
                        }
                        &:after {
                            content: "";
                            @include bgsetup("../images/btn_arrow_right.svg", center center, 100% auto, no-repeat);
                            width: 15px;
                            height: 18px;
                            display: block;
                            margin-left: 7px;
                            @include pc {
                                width: get_pc(15);
                                height: get_pc(18);
                                margin-left: get_pc(7);
                            }
                            @include sp {
                                width: get_sp(11);
                                height: get_sp(12);
                                margin-left: get_sp(5);
                            }
                        }
                    }
                }
            }
        }
    }

    /*
       program_broadcast
    */
    #program_broadcast {
        .inner {
            max-width: 1920px;
            margin: 0 auto;
            @include pc {
                max-width: get_pc(1920);
            }
        }
        .tlt_section {
            margin: 0 auto 28px;
            @include pc {
                margin: 0 auto get_pc(28);
            }
            @include sp {
                margin: 0 auto get_sp(15);
            }

            h2 {
                display: flex;
                align-items: center;
                &:before {
                    content: " ";
                    @include bgsetup("../images/icon_ovice_left.svg", center center, 100% auto, no-repeat);
                    width: 26px;
                    height: 46px;
                    display: inline-block;
                    margin-right: 17px;

                    @include pc {
                        width: get_pc(26);
                        height: get_pc(46);
                        margin-right: get_pc(17);
                    }

                    @include sp {
                        width: get_sp(13);
                        height: get_sp(23);
                        margin-right: get_sp(5);
                    }
                }
                &:after {
                    content: " ";
                    @include bgsetup("../images/icon_ovice_right.svg", center center, 100% auto, no-repeat);
                    width: 26px;
                    height: 46px;
                    display: inline-block;
                    margin-left: 17px;
                    @include pc {
                        width: get_pc(26);
                        height: get_pc(46);
                        margin-left: get_pc(17);
                    }
                    @include sp {
                        width: get_sp(13);
                        height: get_sp(23);
                        margin-left: get_sp(5);
                    }
                }
            }
        }
        .program_slide {
            margin-bottom: 76px;
            @include pc {
                margin-bottom: get_pc(76);
            }
            @include sp {
                margin-bottom: get_sp(37);
            }

        }
    }

    /*
       ranking
    */
    #ranking {
        margin-bottom: 69px;
        @include pc {
            margin-bottom: get_pc(69);
        }
        @include sp {
            margin-bottom: get_sp(39);
        }
        .content_ranking {
            padding: 34px 0 0 0;
            @include pc {
                padding: get_pc(34) 0 0 0;
            }
            @include sp {
                width: 100%;
                border-radius: get_sp(33);
                padding: get_sp(13) 0 0;
            }

            .tlt_section {
                justify-content: center;
                margin-bottom: 78px;
                @include pc {
                    margin-bottom: get_pc(78);
                }
                @include sp {
                    margin-bottom: get_sp(16);
                }
            }

            .program_slide {
                .slick-prev {
                    top: 32%;
                }
                .slick-next {
                    top: 32%;
                }
            }
            .item_slide {
                .num {
                    @include sp {
                        top: get_sp(19);
                        left: get_sp(-2);
                    }
                }
            }

            .btn_link {
                position: absolute;
                right: 163px;
                @include pc {
                    right: get_pc(163);
                }
                @include sp {
                    right: 50%;
                    transform: translateX(50%);
                }
            }
        }
    }

    /*
       what_news
    */
    #news {
        .inner {
            max-width: 1920px;
            margin: 0 auto;
            @include pc {
                max-width: get_pc(1920);
            }
            .tlt_section {
                margin-bottom: 25px;
                @include pc {
                    margin-bottom: get_pc(25);
                }
            }
            .program_slide {
                @include sp {
                    margin-bottom: get_sp(36);
                }
                .item_slide {
                    .txt_desp {
                        font-weight: 400;
                    }
                    a {
                        p {
                            @include sp {
                                padding-bottom: get_sp(3);
                            }
                        }
                    }
                }
            }
        }
    }

    /*
       pr
    */
    #pr {
        .inner {
            @include sp {
                margin-bottom: get_sp(34);
            }
        }
    }

    /*
        popular_viewer_gift
      */
    #other {
        .list_other {
            ul {
                li {
                    &:nth-child(7) {
                        a {
                            @include sp {
                                letter-spacing: get_sp(-1.4);
                            }
                        }
                    }
                }
            }
        }
    }
}



